<div class="addon-tabs">
  <div class="addon-tabs--header" role="tablist">
    <AddonTabs::Tab
      @currentTab={{this.currentTab}}
      @tabId={{0}}
      @onClick={{action (mut this.currentTab) 0}}
    >
      Manage State
    </AddonTabs::Tab>
    <AddonTabs::Tab
      @currentTab={{this.currentTab}}
      @tabId={{1}}
      @onClick={{action (mut this.currentTab) 1}}
    >
      Authenticate
    </AddonTabs::Tab>
    <AddonTabs::Tab
      @currentTab={{this.currentTab}}
      @tabId={{2}}
      @onClick={{action (mut this.currentTab) 2}}
    >
      Translate
    </AddonTabs::Tab>
    <AddonTabs::Tab
      @currentTab={{this.currentTab}}
      @tabId={{3}}
      @onClick={{action (mut this.currentTab) 3}}
    >
      Deploy
    </AddonTabs::Tab>

  </div>

  {{!-- template-lint-disable block-indentation  --}}
  <AddonTabs::Panel
    @currentTab={{this.currentTab}}
    @tabId={{0}}
  >
    <p>Ember Concurrency is an Ember addon that makes state management a whole lot easier with useful primitives.</p>
    <p>Read the docs: <a href="http://ember-concurrency.com">http://ember-concurrency.com</a></p>
    <p>Easy installation:</p>
    <code class="addon-tabs--code">
      <pre class="mt-3">&gt; ember install ember-concurrency</pre>
    </code>
  </AddonTabs::Panel>
  <AddonTabs::Panel
    @currentTab={{this.currentTab}}
    @tabId={{1}}
  >
    <p>Ember Simple Auth is an Ember addon with minimal requirements, supporting all kinds of authentication and authorization mechanisms.</p>
    <p>Read the docs: <a href="https://ember-simple-auth.com/">https://ember-simple-auth.com/</a></p>
    <p>Easy installation:</p>
    <code class="addon-tabs--code">
      <pre class="mt-3">&gt; ember install ember-simple-auth</pre>
    </code>
  </AddonTabs::Panel>
  <AddonTabs::Panel
    @currentTab={{this.currentTab}}
    @tabId={{2}}
  >
    <p>Internationalize your Ember apps with an addon that provides support for 150+ languages with locale-aware dates and time formatting.</p>
    <p>Read the docs: <a href="https://ember-intl.github.io/ember-intl/">https://ember-intl.github.io/ember-intl/</a></p>
    <p>Easy installation:</p>
    <code class="addon-tabs--code">
      <pre class="mt-3">&gt; ember install ember-intl</pre>
    </code>
  </AddonTabs::Panel>
  <AddonTabs::Panel
    @currentTab={{this.currentTab}}
    @tabId={{3}}
  >
    <p>Ember CLI Deploy is a deployment pipeline that keeps your deploy logic maintainable and reusable.</p>
    <p>Read the docs: <a href="http://ember-cli-deploy.com/">http://ember-cli-deploy.com/</a></p>
    <p>Easy installation:</p>
    <code class="addon-tabs--code">
      <pre class="mt-3">> ember install ember-cli-deploy</pre>
    </code>
  </AddonTabs::Panel>
  {{!-- template-lint-enable block-indentation  --}}
</div>