<div class="addon-tabs">
  <div class="addon-tabs--header" role="tablist">
    <AddonTabs::Tab
      @currentTab={{this.currentTab}}
      @tabId={{0}}
      @onClick={{action (mut this.currentTab) 0}}
    >
      Concurrency
    </AddonTabs::Tab>
    <AddonTabs::Tab
      @currentTab={{this.currentTab}}
      @tabId={{1}}
      @onClick={{action (mut this.currentTab) 1}}
    >
      Internationalization
    </AddonTabs::Tab>
    <AddonTabs::Tab
      @currentTab={{this.currentTab}}
      @tabId={{3}}
      @onClick={{action (mut this.currentTab) 3}}
    >
      Progressive Enhancement
    </AddonTabs::Tab>
  </div>

  {{!-- template-lint-disable block-indentation  --}}
  <AddonTabs::Panel
    @currentTab={{this.currentTab}}
    @tabId={{0}}
  >
    <p>Ember Concurrency is an Ember addon that makes it easy to write concise, robust, and beautiful asynchronous code.<a href="http://ember-concurrency.com">(http://ember-concurrency.com)</a></p>

    <code class="addon-tabs--code">
      <pre class="mt-3">&gt; ember install ember-concurrency
      </pre>
    </code>
  </AddonTabs::Panel>

  <AddonTabs::Panel
    @currentTab={{this.currentTab}}
    @tabId={{1}}
  >
    <p>Internationalize your Ember apps! <a href="https://ember-intl.github.io/ember-intl/">https://ember-intl.github.io/ember-intl/</a></p>

    <code class="addon-tabs--code">
      <pre class="mt-3"></pre>
    </code>
  </AddonTabs::Panel>
  <AddonTabs::Panel
    @currentTab={{this.currentTab}}
    @tabId={{3}}
  >
    <p>Ember Fastboot provides progressive enhancement for your ambitious web apps. <a href="https://ember-fastboot.com/">https://ember-fastboot.com/</a></p>

    <code class="addon-tabs--code">
      <pre class="mt-3"></pre>
    </code>
  </AddonTabs::Panel>
  {{!-- template-lint-enable block-indentation  --}}
</div>