<div class="release-timeline" ...attributes>
  <div class="release">
    <img src="/images/releases/small_release.png" alt={{@project.lastStableVersion}}>
    <div class="mt-1 bold">{{@project.initialVersion}}</div>
    <div class="text-sm">Released {{format-date-time @project.date}}</div>
  </div>
  <div class="path-to-release">
    <div class="bold">The path to {{@project.finalVersion}}...</div>
    <div class="steps">
      <ProjectListing::Beta
          @version={{1}}
          @project={{@project}}
      />
      <ProjectListing::Beta
          @version={{2}}
          @project={{@project}}
      />
      <ProjectListing::Beta
          @version={{3}}
          @project={{@project}}
      />
      <ProjectListing::Beta
          @version={{4}}
          @project={{@project}}
      />
      <ProjectListing::Beta
          @version={{5}}
          @project={{@project}}
      />
      <ProjectListing::Beta
          @version={{6}}
          @project={{@project}}
      />
    </div>
  </div>
  <div class="release future-image">
    <img src="/images/releases/small_release.png" alt={{@project.finalVersion}}>
    <div class="mt-1 bold">{{@project.finalVersion}}</div>
    <div class="text-sm">Coming the week of {{format-date-time @project.cycleEstimatedFinishDate}}</div>
  </div>
</div>