<div class="release-timeline" ...attributes>
  <div class="release">
    <img src="/images/releases/small_release.png" alt={{@project.lastStableVersion}}>
    <div class="mt-1 bold">{{@project.initialVersion}}</div>
    <div class="text-sm">Released {{format-date-time @project.date}}</div>
  </div>
  <div class="path-to-release">
    <div class="bold">The path to {{@project.finalVersion}}...</div>
    <div class="steps">
      {{#each this.betaList as |oneIndexed|}}
        {{project-listing/beta
            version=oneIndexed
            project=@project
        }}
      {{/each}}
    </div>
  </div>
  <div class="release future-image">
    <img src="/images/releases/small_release.png" alt={{@project.finalVersion}}>
    <div class="mt-1 bold">{{@project.finalVersion}}</div>
    <div class="text-sm">Coming the week of {{format-date-time @project.cycleEstimatedFinishDate}}</div>
  </div>
</div>