<nav class="filter flex-horizontal-between">
  <span class="filter-group">
    {{#link-to "mascots" (query-params filter="all")}}All{{/link-to}}
    {{#link-to "mascots" (query-params filter="tomster")}}Tomsters{{/link-to}}
    {{#link-to "mascots" (query-params filter="zoey")}}Zoeys{{/link-to}}
    {{#link-to "mascots" (query-params filter="meetup")}}Meetups{{/link-to}}
    {{#link-to "mascots" (query-params filter="conference")}}Conferences{{/link-to}}
    {{#link-to "mascots" (query-params filter="corp")}}Corporate{{/link-to}}
    {{#link-to "mascots" (query-params filter="other")}}Others{{/link-to}}
  </span>
  <span>
    {{#link-to "mascots" (query-params display="small")}}Small{{/link-to}}
    {{#link-to "mascots" (query-params display="large")}}Large{{/link-to}}
  </span>
</nav>

<ul class="unstyled grid {{this.displayClass}}">
  {{#each sortedModel as |tomster|}}
    <figure>
      <div class="well well-1/1">
        <img src={{asset-map (concat "images/tomsters/" tomster.image)}} alt="">
      </div>
      <figcaption class="flex-horizontal-between">
        {{#if tomster.url}}
          <a href={{tomster.url}}>
            {{tomster.title}}
          </a>
        {{else}}
          <span>{{tomster.title}}</span>
        {{/if}}

        <time datetime={{moment-format tomster.date}}>{{moment-format tomster.date "MMMM D, YYYY"}}</time>
      </figcaption>
    </figure>
  {{/each}}
</ul>