<ul class="list-unstyled margin-vertical-small text-center tomster-list__filter">
  <li>{{#link-to "mascots" (query-params filter="all")}}All{{/link-to}} | </li>
  <li>{{#link-to "mascots" (query-params filter="tomster")}}Tomsters{{/link-to}} | </li>
  <li>{{#link-to "mascots" (query-params filter="zoey")}}Zoeys{{/link-to}} | </li>
  <li>{{#link-to "mascots" (query-params filter="meetup")}}Meetups{{/link-to}} | </li>
  <li>{{#link-to "mascots" (query-params filter="conference")}}Conferences{{/link-to}} | </li>
  <li>{{#link-to "mascots" (query-params filter="corp")}}Corporate{{/link-to}} | </li>
  <li>{{#link-to "mascots" (query-params filter="other")}}Others{{/link-to}}</li>
</ul>

<ul class="grid lg:grid-2 list-unstyled tomster-list">
  {{#each sortedModel as |tomster|}}
    <EsCard
      class="tomster-card"
      @image={{asset-map (concat "images/tomsters/" tomster.image)}}
      alt={{tomster.title}}
      vertical
      full-image
    >
      <div class="flex-row justify-content-between">

        {{#if tomster.url}}
          <a href={{tomster.url}}>
            {{tomster.title}}
          </a>
        {{else}}
          <span>{{tomster.title}}</span>
        {{/if}}
        <div>
          {{moment-format tomster.date "MMMM D, YYYY"}}
        </div>
      </div>
    </EsCard>
  {{/each}}
</ul>