<div class="release-progress clear">
  <div class="left hide-on-mobile">
    <div class="small-release-image" title={{@project.lastStableVersion}}></div>
    <div class="release-version">{{@project.initialVersion}}</div>
    <div class="release-date">Released {{format-date-time @project.date "MMM Do"}}</div>
  </div>
  <div class="float-left-container hide-on-mobile">
    <div class="release-cycle-title">The path to {{@project.finalVersion}}...</div>
    {{project-listing/beta
        version=1
        project=@project
    }}
    {{project-listing/beta
        version=2
        project=@project
    }}
    {{project-listing/beta
        version=3
        project=@project
    }}
    {{project-listing/beta
        version=4
        project=@project
    }}
    {{project-listing/beta
        version=5
        project=@project
    }}
    {{project-listing/beta
        version=6
        project=@project
    }}
  </div>
  <div class="right future-image">
    <div class="small-release-image" title={{@project.finalVersion}}></div>
    <div class="release-version">{{@project.finalVersion}}</div>
    <div class="release-date">Coming the week of {{format-date-time @project.cycleEstimatedFinishDate "MMM Do"}}</div>
  </div>
  <div class="clear"></div>
</div>
