<img src="/images/team/{{image}}" alt="{{name}}" class="team-member-image">
<div class="team-member-name">
  {{name}}
</div>
<ul class="team-member-social">
  <li>
    <a class="team-member-twitter" href="{{twitter}}" aria-label="{{name}} Twitter">
      <i class="icon-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="team-member-github" href="{{github}}" aria-label="{{name}} Github Profile">
      <i class="icon-github" aria-hidden="true"></i>
    </a>
  </li>
</ul>
