<img src="/images/team/{{image}}" alt={{name}} class="team-member-image">
<div class="team-member-name">
  {{name}}
</div>
<ul class="team-member-social">
  <li>
    <a
      aria-label="{{name}} Twitter"
      class="team-member-twitter"
      href={{twitter}}
    >
      <i class="icon-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a
      aria-label="{{name}} Github Profile"
      class="team-member-github"
      href={{github}}
    >
      <i class="icon-github" aria-hidden="true"></i>
    </a>
  </li>
</ul>
