<h4 class="project-name">Using {{@project.name}} {{@channel}} builds with Ember CLI</h4>
<div>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#terminal-code}}
      {{html-safe (printf @project.content @project.lastRelease)}}
    {{/terminal-code}}
  {{/if}}

  {{#if @project.lastReleaseChangelogUrl}}
    <p>
      Read the <a class="debug" href={{@project.lastReleaseChangelogUrl}}>changelog</a>
      for {{@project.name}} {{@project.lastRelease}}.
    </p>
  {{else if @project.lastReleaseTestUrl}}
    <p>
      <a class="debug" href={{@project.lastReleaseTestUrl}} target="_blank" rel="noopener">Run the tests</a> for {{@project.name}} ||| {{@project.lastRelease}} in your browser.
    </p>
  {{else}}
    <p></p>
  {{/if}}
</div>
