<div class="Feature">
  {{!-- <img class="Feature-Icon" src="{{feature.icon}}"> --}}
  <div class="Feature-Inner">
    <div class="Feature-Head">
      <div class="Feature-Heading column-layout">
        <div class="column-layout__left">
          <h2>
            <button
              id={{@feature.id}}
              aria-controls={{@feature.descriptionId}}
              aria-expanded="false"
              {{action "toggle"}}
            >
              {{@feature.name}}
            </button>
          </h2>
        </div>
      </div>
      <div class="Feature-HeadContent">
        <div
          class="Feature-Description column-layout__left flex-3"
          id={{@feature.descriptionId}}
          aria-labelledby={{@feature.id}}
        >
          {{mark-down text=@feature.summary}}
          {{#if isOpen}}
            {{mark-down text=@feature.content}}
          {{else}}
            <a
              href=""
              id={{@feature.id}}
              aria-controls={{@feature.descriptionId}}
              aria-expanded="false"
              {{action "toggle"}}
            >
              {{#if isOpen}}
                Show less
              {{else}}
                More…
              {{/if}}
            </a>
          {{/if}}
        </div>

        <div class="flex-1">
          <div class="Feature-Detail">
            <div class="Feature-Status">
              <h3>Status</h3>
              <div class="status status--{{@feature.status}}">
                {{@feature.statusText}}
              </div>
            </div>

            {{#if @feature.availability}}
              <div class="Feature-Availability">
                <h3>Availability</h3>
                <p>{{@feature.availability}}</p>
              </div>
            {{/if}}
            {{#if isOpen}}
              {{#if @feature.champions}}
                <div class="Feature-Champions">
                  <h3>Core Team Champions</h3>
                  <ul>
                    {{#each @feature.champions as |champion|}}
                      <li class="Feature-Champion">
                        <a href={{champion.url}}>
                          <img src={{champion.image}} alt="Feature champion">
                          <span>{{champion.name}}</span>
                        </a>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}

              {{#if @feature.resources}}
                <div class="Feature-Resources">
                  <h3>Resources</h3>
                  <ul>
                    {{#each @feature.resources as |resource|}}
                      <li><span class="icon-{{resource.type}}"></span><a href={{resource.url}}>{{resource.name}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{#if isOpen}}
      <a
        href=""
        id={{@feature.id}}
        aria-controls={{@feature.descriptionId}}
        aria-expanded="false"
        {{action "toggle"}}
      >
        Show less
      </a>
    {{/if}}
  </div>
</div>
