<ul class="unstyled grid {{this.displayClass}}">
  {{#each this.sortedModel as |tomster|}}
    <li>
      <figure>
        <div class="well well-1/1">
          <img src="/images/tomsters/{{tomster.image}}" alt="" role="presentation" loading="lazy">
        </div>
        <figcaption class="flex-horizontal-between">
          {{#if tomster.url}}
            <a href={{tomster.url}}>
              {{tomster.title}}
            </a>
          {{else}}
            <span>{{tomster.title}}</span>
          {{/if}}

          <time datetime={{tomster.date}}>{{format-date-time tomster.date "MMMM d, y"}}</time>
        </figcaption>
      </figure>
    </li>
  {{/each}}
</ul>