<div
  class="text-center"
  data-test-member={{@member.name}}
>
  <ResponsiveImage
    @src="/images/team/{{@member.image}}"
    @width={{100}}
    alt=""
    class="team-image"
    role="presentation"
  />

  <div data-test-field="Name">
    {{@member.name}}
  </div>

  <div class="social-links">
    {{#if @member.github}}
      <a
        aria-label="{{@member.name}} Github Profile"
        class="icon"
        data-test-link="GitHub"
        href={{@member.github}}
        rel="noopener noreferrer"
        target="_blank"
      >
        {{~! ~}}{{svg-jar "github"}}{{~! ~}}
      </a>
    {{/if}}

    {{#if @member.x}}
      <a
        aria-label="{{@member.name}} X"
        class="icon"
        data-test-link="X"
        href={{@member.x}}
        rel="noopener noreferrer"
        target="_blank"
      >
        {{~! ~}}{{svg-jar "x"}}{{~! ~}}
      </a>
    {{/if}}

    {{#if @member.mastodon}}
      <a
        aria-label="{{@member.name}} Mastodon"
        class="icon"
        data-test-link="Mastodon"
        href={{@member.mastodon}}
        rel="noopener noreferrer"
        target="_blank"
      >
        {{~! ~}}{{svg-jar "mastodon"}}{{~! ~}}
      </a>
    {{/if}}

    {{#if @member.bluesky}}
      <a
        aria-label="{{@member.name}} Bluesky"
        class="icon"
        data-test-link="Bluesky"
        href={{@member.bluesky}}
        rel="noopener noreferrer"
        target="_blank"
      >
        {{~! ~}}{{svg-jar "bluesky"}}{{~! ~}}
      </a>
    {{/if}}

    {{#if @member.social}}
      <a
        aria-label="{{@member.name}} generic social link"
        class="icon"
        data-test-link="Social"
        href={{@member.social}}
        rel="noopener noreferrer"
        target="_blank"
      >
        <img src="/images/link.png" alt="chain-link" class="icon"/>
      </a>
    {{/if}}
  </div>
</div>
