<h1 class="project-name">{{capitalize @channel}} Channel</h1>

<p>{{@channelDescription}}</p>

{{#each @projects as |project|}}
  <div class="ember-cli-usage">
    <EmberCliUsage
      project={{@project}}
      channel={{@channel}} />
  </div>
{{/each}}

{{yield}}
