{{page-title "LTS"}}

<h1 class="project-name">
  LTS Channel
</h1>

<p>
  Long Term Support (LTS) releases receive bugfixes and security updates for an extended period.
</p>


<h2>How to Install</h2>

<div class="mb-2">
  <Releases::HowToInstall
    @project={{@model}}
  />
</div>


<h2>What is an LTS release?</h2>

<p>
  Once a release of Ember gets promoted to LTS, it receives <strong>bugfixes for 36 weeks</strong> and <strong>security updates for 54 weeks</strong>.
</p>

<p>
  An LTS release is the best version to use if you won't be updating your app frequently, but want to help your app stay secure and working smoothly.

  Another reason to use an LTS is if you have a very large, complex app, since LTS versions get even more testing and scrutiny than usual.
</p>

<p>
  An LTS is declared roughly every 4 minor versions, excluding the x.0 minor version.

  The last minor version before the next major release is also considered to be an LTS.

  For example, in Ember 2.x, the following versions were considered LTS's: 2.4, 2.8, 2.12, 2.16, and 2.18 (last version).
</p>

<p>
  Before a version can be called an "LTS" release, it has to spend at least 6 weeks as a stable release, where it is used and tested by thousands of developers.
</p>


<h2>LTS schedule</h2>

<p>
  Ember currently supports these LTS versions for Ember.js, Ember CLI, and Ember Data.
</p>

<div class="mb-2">
  <table class="lts-table">
    <thead>
      <tr>
        <th>LTS version</th>
        <th>Promotion date</th>
        <th>Bugfixes until</th>
        <th>Security patches until</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.currentlySupportedLTS as |release|}}
        <tr>
          <td>{{release.version}}</td>
          <td>{{format-date-time release.promotionDate "MMMM D, YYYY"}}</td>
          <td>{{format-date-time (add-weeks release.promotionDate 36) "MMMM D, YYYY"}}</td>
          <td>{{format-date-time (add-weeks release.promotionDate 54) "MMMM D, YYYY"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>
  The following LTS versions are no longer maintained. The table shows their last minor release dates:
</p>

<table class="lts-table">
  <thead>
    <tr>
      <th>LTS version</th>
      <th>Last minor release</th>
      <th>Last minor release date</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>3.20</td>
      <td>3.20.3</td>
      <td>August 2020</td>
    </tr>
    <tr>
      <td>3.16</td>
      <td>3.16.10</td>
      <td>August 2020</td>
    </tr>
    <tr>
      <td>3.12</td>
      <td>3.12.4</td>
      <td>May 2020</td>
    </tr>
    <tr>
      <td>3.8</td>
      <td>3.8.3</td>
      <td>June 2019</td>
    </tr>
    <tr>
      <td>3.4</td>
      <td>3.4.8</td>
      <td>January 2019</td>
    </tr>
    <tr>
      <td>2.18</td>
      <td>2.18.2</td>
      <td>February 2018</td>
    </tr>
    <tr>
      <td>2.16</td>
      <td>2.16.4</td>
      <td>February 2018</td>
    </tr>
    <tr>
      <td>2.12</td>
      <td>2.12.2</td>
      <td>April 2017</td>
    </tr>
    <tr>
      <td>2.8</td>
      <td>2.8.3</td>
      <td>November 2016</td>
    </tr>
    <tr>
      <td>2.4</td>
      <td>2.4.5</td>
      <td>April 2016</td>
    </tr>
  </tbody>
</table>
