{{title "LTS"}}

{{#project-listing
  projects=(array model)
  channel="LTS"
  channelDescription="Long Term Support releases receive bugfixes and security updates for an extended period."
}}

  <h2>What is an LTS release?</h2>

  <p>
    Once a release of Ember gets promoted to LTS, it receives <strong>bugfixes for 36 weeks</strong> and <strong>security updates for 54 weeks</strong>.
  </p>
  <p>
    An LTS release is the best version to use if you won't be updating your app frequently,
    but want to help your app stay secure and working smoothly.
    Another reason to use an LTS is if you have a very large, complex app,
    since LTS versions get even more testing and scrutiny than usual.
  </p>
  <p>
    An LTS is declared roughly every four minor versions, plus the final version before a
    major release. Before a version can be called an "LTS" release, it has to spend
    at least 6 weeks as a stable release, where it is used and tested by thousands of
    developers.
  </p>

  <h2>LTS schedule</h2>

  <p>
    Ember currently supports these LTS versions for Ember.js, Ember CLI, and Ember Data.
  </p>

  <table>
    <thead>
      <tr>
        <th>LTS version</th>
        <th>Promotion date</th>
        <th>Bugfixes until</th>
        <th>Security patches until</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.currentlySupportedLTS as |release|}}
        <tr>
          <td>{{release.version}}</td>
          <td>{{format-date-time release.promotionDate "MMMM d, yyyy"}}</td>
          <td>{{format-date-time (add-weeks release.promotionDate 36) "MMMM d, yyyy"}}</td>
          <td>{{format-date-time (add-weeks release.promotionDate 54) "MMMM d, yyyy"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <p>
    These LTS versions are no longer maintained: 3.4 (Jan 2019), 2.18 (Feb 2018), 2.16 (Feb 2018), 2.12 (Apr 2017), 2.8 (Nov 2016), and 2.4 (Apr 2016). Their last minor release dates are shown in parentheses.
  </p>
{{/project-listing}}
