{{page-title "Ember Community Survey 2016"}}

<EmberCommunitySurvey::Introduction
  @surveyLogoAlt="Ember Community Survey 2016"
  @surveyLogoSrc="/images/survey/logo.png"
>
  <p>
    A project to learn who is using Ember and how.
  </p>
  <p>
    With over 1800 responses, here are the 2016 survey results!
  </p>
</EmberCommunitySurvey::Introduction>

<EmberCommunitySurvey::Section
  @sectionId="developer-experience"
  @sectionTitle="Developer Experience"
>
  <:charts>
    <Highcharts
      @chart={{this.chartHowlong}}
    />
  </:charts>

  <:body>
    <p>
      Ember's growth remains steady. The survey reached more experienced users this year than last year.
    </p>
    <p>
      Over half of our participants self-identify as being quite familiar with both JavaScript (70%) and with Ember itself (63%). The vast majority (84%) live in North America or Europe and prefer Sublime (39%), Atom (39%), VIM (29%) or WebStorm/Other Jetbrains (21%).
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="ember-in-enterprise-employment-status-and-size"
  @sectionTitle="Ember in Enterprise: Employment Status & Size"
>
  <:charts>
    <div class="grid lg:grid-2">
      {{#each this.chartEmberAtTheOffice as |chart|}}
        <Highcharts
          @chart={{chart}}
        />
      {{/each}}
    </div>
  </:charts>

  <:body>
    <p>
      The vast majority (87%) of participants self-identified as a developer. 92% of participants used Ember at work.
    </p>
    <p>
      Last year, 62% of participants had a development staff under 10, this year that dropped to 56% of respondents. The number of participants at a company having over 50 developers rose from 18% to 22%.
    </p>
    <p>
      This, along with the two graphs above showing how development roles have changed and Ember staff size has changed, points to a small shift toward larger companies.
    </p>
    <p>
      85% of participants have an Ember application in production, 8% of participants work on an Ember application used by millions of users.
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="ember-version"
  @sectionTitle="Ember Version"
>
  <:charts>
    <Highcharts
      @chart={{this.chartNewReleaseAdoptionEmber}}
    />
  </:charts>

  <:body>
    <p>
      Ember 2.4 was the release version of Ember during this survey.
    </p>
    <p>
      76% of participants use Ember 2.x in an app, which demonstrates incredible adoption for a major release. However, 36% of developers are still managing a codebase on 1.13.
    </p>
    <p>
      Major SemVer releases include breaking changes, and a spike on the last 1.x release is expected to some degree. Anecdotal evidence suggests many large companies are just now crossing the threshold into 2.x.
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="ember-data-version"
  @sectionTitle="Ember Data Version"
>
  <:charts>
    <Highcharts
      @chart={{this.chartNewReleaseAdoptionEmberData}}
    />
  </:charts>

  <:body>
    <p>
      Ember Data, which did not follow SemVer until its June release of 1.13, shows a similar trend after that release. Despite a bump at 1.13 (27%) most participants upgrade seamlessly through minor versions. This is a great improvement over <a href="https://www.201-created.com/ember-community-survey-2015/#release-adoption" rel="noopener noreferrer" target="_blank">2015</a>.
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="maintenance"
  @sectionTitle="Maintenance"
>
  <:charts>
    <Highcharts
      @chart={{this.chartLongLivedCodebases}}
    />
  </:charts>

  <:body>
    <p>
      Participants reported that their applications trended older this year. More developers are working with long-lived Ember applications than ever before, moving through release versions over time.
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="server-side-development"
  @sectionTitle="Server-Side Development"
>
  <:charts>
    <div class="grid lg:grid-2">
      {{#each this.chartServerSide as |chart|}}
        <Highcharts
          @chart={{chart}}
        />
      {{/each}}
    </div>
  </:charts>

  <:body>
    <p>
      Ruby retains the top spot in desired and actual server-side languages. However, it also dropped 6% as production platform and 8% as a preferred platform. The only notable mover further down the list is Elixir/Erlang, which lept to surpass the popularity of Go in both use and preference.
    </p>
    <p>
      JavaScript retains the largest gap between usage (24%) and preference (47%).
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="browser-requirements"
  @sectionTitle="Browser Requirements"
>
  <:charts>
    <div class="grid lg:grid-2">
      {{#each this.chartBrowserSuppor as |chart|}}
        <Highcharts
          @chart={{chart}}
        />
      {{/each}}
    </div>
  </:charts>

  <:body>
    <p>
      Participants overwhelmingly support modern browsers. In a shocking twist, the number of Ember developer who maintain support for mobile browsers <em>dropped</em> from 57% to 49%, and is only projected to return to 57% next year.
    </p>
    <p>
      In the past year, Microsoft launched its evergreen browser <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" rel="noopener noreferrer" target="_blank">Edge</a>. However, Edge was not made available on older platforms like Windows 7. Older IE versions will be widely supported until those platforms are all retired, and their last available version of IE with them.
    </p>
    <p>
      Current app support for IE 9 is lower than support for IE 8 was last year, providing a strong justification for Ember 3.0 (when it arrives) to retire IE 9 support. IE 10 support is popular despite the relative rarity of that browser. (It is <a href="http://www.sitepoint.com/browser-trends-january-2016-12-month-review/" rel="noopener noreferrer" target="_blank">less common that IE 9</a>.)
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="ember-ecosystem"
  @sectionTitle="Ember Ecosystem"
>
  <:charts>
    <div class="grid lg:grid-2">
      {{#each this.chartEmberEcosystem as |chart|}}
        <Highcharts
          @chart={{chart}}
        />
      {{/each}}
    </div>
  </:charts>

  <:body>
    <p>
      The number of community members who have written an addon grew in the past year. An astonishing 52% of participants have written an addon, and the percentage of participants writing addon unit tests rose by 12% to 64%. 25% of participants report publishing an addon publicly, up from 20% last year.
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="search-engine-optimization"
  @sectionTitle="Search Engine Optimization"
>
  <:charts>
    <Highcharts
      @chart={{this.chartSEO}}
    />
  </:charts>

  <:body>
    <p>
      Concerns about SEO grew this year, if only by 5% of the participants. FastBoot usage remains nascent. Similar to last year, we suspect an element of self-selection in these numbers as it is unlikely that Ember is being chosen for SEO-sensitive applications.
    </p>
    <p>
      The number of Ember apps targeting public consumers rose slightly from 46% to 49%.
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId="closing-thoughts"
  @sectionTitle="Closing Thoughts"
>
  <:body>
    <p>
      We would like to thank everyone who took the time to participate in the 2016 Ember Community Survey! We hope this information can provide a platform for discussion and ideas around the entire Ember ecosystem as it moves forward.
    </p>
    <p>
      You can view a <a href="https://embersurvey.typeform.com/report/Npq9cY/RqO2" rel="noopener noreferrer" target="_blank">summary of the responses to all questions</a> from the survey, as well as the <a href="/survey/2016/results.csv" target="_blank" rel="noopener noreferrer">raw survey data</a>.
    </p>
    <p>
      Questions? Feedback? Please email <a href="mailto:survey@201-created.com">survey@201-created.com</a>.
    </p>
  </:body>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Sponsor
  @hasDarkBackground={{true}}
  @sponsor={{hash
    logoAlt="201 Created"
    logoSrc="/images/survey/201-Created-Square@1x.png"
    website="https://www.201-created.com/"
  }}
/>