{{page-title 'Ember Community Survey 2022'}}

<EmberCommunitySurvey::Introduction
  @surveyLogoAlt='Ember Community Survey 2022'
  @surveyLogoSrc='/images/survey/logo2022.svg'
>
  <p class='text-lg'>Our Global Community: Ember.js 2022 Survey Results</p>
  <p>
    This year the global community came out to show its love for Ember; it was the first year that more responses came from outside the United States! Productivity is finding its way around the world.
  </p>
  </EmberCommunitySurvey::Introduction>

<EmberCommunitySurvey::Section
    @sectionId='s00-location'
    @sectionTitle='Ember Users Across the Globe'
>
    <:charts>
      <Highcharts @chart={{this.S06_QM01_SS__MERGED_GLOBAL_LOC}} />
    </:charts>
    {{!-- <:body>Placeholder</:body> --}}
</EmberCommunitySurvey::Section>


{{! START RESULTS SECTIONS }}
<EmberCommunitySurvey::Section
  @sectionId='s01-background'
  @sectionTitle='Your Development Background'
>
  {{!-- <:body>
    PlaceholderText
  </:body> --}}
  <:charts>
    <Highcharts @chart={{this.S01_Q01_SS__TIME_USE}} />
    <Highcharts @chart={{this.S01_Q02_MS__OTHER_FRAMEWORKS}} />
    <Highcharts @chart={{this.S01_Q03_MS__OTHER_UI_LIBS}} />
    <Highcharts @chart={{this.S01_Q04_MS__OTHER_SSG}} />
    {{!-- <Highcharts @chart={{this.S01_Q05_SS__KNOW_HTML}} />
    <Highcharts @chart={{this.S01_Q06_SS__KNOW_ARIA}} />
    <Highcharts @chart={{this.S01_Q07_SS__KNOW_CSS}} />
    <Highcharts @chart={{this.S01_Q08_SS__KNOW_JS}} /> --}}
    <Highcharts @chart={{this.S01_QM01_SS__MERGED_WEB_SKILLS}} />
  </:charts>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId='s02-env-pref'
  @sectionTitle='Development Preferences'
>
  {{!-- <:body>
    PlaceholderText
  </:body> --}}
  <:charts>
    <Highcharts @chart={{this.S02_Q01_SS__OS_PREF}} />
    <Highcharts @chart={{this.S02_Q02_SS__OS_WORK}} />
    <Highcharts @chart={{this.S02_Q03_SS__OS_HOME}} />
    <Highcharts @chart={{this.S02_QM01_SS__MERGED_IDE_PREF}} />
  </:charts>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId='s03-at-work'
  @sectionTitle='Ember At Work'
>
  {{!-- <:body>
    PlaceholderText
  </:body> --}}
  <:charts>
    {{!-- <Highcharts @chart={{this.S03_Q02_MS__WORK_SECTOR}} /> --}}
    <Highcharts @chart={{this.S03_QM01_MS__MERGED_WORK_SECTOR}} />
    <Highcharts @chart={{this.S03_Q11_MS__WORK_COMPANY_APPS_EMBER_VERSIONS_USED}} />
    {{!-- <Highcharts @chart={{this.S03_Q15_SS__WORK_TEST_FW}} /> --}}
    <Highcharts @chart={{this.S03_QM02_SS__MERGED_WORK_TEST_FW}} />
    <Highcharts @chart={{this.S03_Q17_SS__SERVER_SIDE_FRAMEWORK_WORK}} />
    {{!-- <Highcharts @chart={{this.S03_Q18_SS__DEPLOY_WORK}} /> --}}
    <Highcharts @chart={{this.S03_QM03_SS__MERGED_DEPLOY_WORK}} />
  </:charts>
</EmberCommunitySurvey::Section>

<EmberCommunitySurvey::Section
  @sectionId='s05-feedback'
  @sectionTitle='Ember Features'
>
  {{!-- <:body>
    PlaceholderText
  </:body> --}}
  <:charts>
    <Highcharts @chart={{this.S05_Q01_MS__FB_OCTANE}} />
    <Highcharts @chart={{this.S05_Q02_MS__FB_NEW_FEAT}} />
    <Highcharts @chart={{this.S05_Q04_MS__FFEAT}} />
  </:charts>
</EmberCommunitySurvey::Section>

{{!-- <EmberCommunitySurvey::Section
  @sectionId='s06-closing'
  @sectionTitle='Closing Questions'
>
  <:body></:body><:charts>
    <Highcharts @chart={{this.S06_Q03_MS__DEV_SURVEY_ADD}} />
  </:charts></EmberCommunitySurvey::Section> --}}
{{! END RESULTS SECTIONS }}


{{! CLOSING THOUGHTS / SPONSOR THANKS / PROMOTIONAL SHARE  }}
<EmberCommunitySurvey::Section
  @sectionId='closing-thoughts'
  @sectionTitle='Closing Thoughts'
>
  <:body>
    <p>
      We would like to thank everyone who took the time to participate in the
      2022 Ember Community Survey! We genuinely appreciate the time and the valuable feedback our users provide for us every year. We also want to thank our sponsors for their generous support, making this year's survey possible.
    </p>
    <p>
      To see results for previous years, you can visit the
      <LinkTo @route='survey.2020'>2020</LinkTo>,
      <LinkTo @route='survey.2019'>2019</LinkTo>,
      <LinkTo @route='survey.2018'>2018</LinkTo>,
      <LinkTo @route='survey.2017'>2017</LinkTo>,
      <LinkTo @route='survey.2016'>2016</LinkTo>, and
      <a
        href='https://www.201-created.com/ember-community-survey-2015/'
        rel='noopener noreferrer'
        target='_blank'
      >2015</a>
      survey results pages.
    </p>
    <p>
      If you have any questions about this survey—the data, the methods used, or
      any other feedback—please email us at
      <a href='mailto:survey@emberjs.com'>survey@emberjs.com</a>.
    </p>
    {{!-- <p>
      Please share this survey on social media and at work.
    </p> --}}


    <p>
      Questions? Feedback? Please join us in the
      <code>#dev-ember-learning</code>
      channel on the Discord community chat, or email the survey team via
      <a href='mailto:survey@emberjs.com'>survey@emberjs.com</a>.
    </p>
  </:body>
</EmberCommunitySurvey::Section>

{{!-- TODO (?) update to nicely accommodate multiple sponsors --}}
<div class="bg-dark">
  <EmberCommunitySurvey::Sponsor
    @sponsor={{hash
      logoAlt='Simplabs'
      logoSrc='/images/survey/simplabs_logo_inverted.png'
      website='http://www.simplabs.com/'
    }}
  />
<EmberCommunitySurvey::Sponsor
  @sponsor={{hash
    logoAlt='Acorn Consulting'
    logoSrc='/images/survey/acorn-header-logo.svg'
    website='http://www.acornwebconsultants.com/'
  }}
/>
</div>