{{title "Mascots"}}

<section aria-label="Mascots" class="page__mascots">
  <h1 class="text-center">Tomster and Zoey</h1>
  <p>
    Tomster was the first of many friendly faces of the Ember project and community. Over the years we've dressed and redressed him for all sorts of fun projects and reasons. With the addition of his sister Zoey, you'll see Ember friends around even more.
  </p>
  <p>
    Tomster is a registered and protected trademark. These images may not be used without specific and explicit consent (which we aim never to hold back unreasonably). If you have questions about using or commissioning a custom Mascot, {{#link-to "mascots.faq"}}check out the FAQ{{/link-to}}.
  </p>

  <div id="tomster-filter">
    <ul>
      <li>{{#link-to "mascots" (query-params filter="all")}}All{{/link-to}} | </li>
      <li>{{#link-to "mascots" (query-params filter="tomster")}}Tomsters{{/link-to}} | </li>
      <li>{{#link-to "mascots" (query-params filter="zoey")}}Zoeys{{/link-to}} | </li>
      <li>{{#link-to "mascots" (query-params filter="meetup")}}Meetups{{/link-to}} | </li>
      <li>{{#link-to "mascots" (query-params filter="conference")}}Conferences{{/link-to}} | </li>
      <li>{{#link-to "mascots" (query-params filter="corp")}}Corporate{{/link-to}} | </li>
      <li>{{#link-to "mascots" (query-params filter="other")}}Others{{/link-to}}</li>
    </ul>
  </div>
  <div class="tomster-list">

    {{#each sortedModel as |tomster|}}
      <div class="tomster-container">
        <div class="tomster-image">
          <img alt={{tomster.title}} src={{asset-map (concat "images/tomsters/" tomster.image)}}>
        </div>
        <div class="tomster-info">
          {{#if tomster.url}}
            <a href={{tomster.url}} target="_blank" rel="noopener" class="title">
              {{tomster.title}}
            </a>
          {{else}}
            <p class="not-yet-url title">{{tomster.title}}</p>
          {{/if}}
          <div class="date">
            {{moment-format tomster.date "MMMM D, YYYY"}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>
