<div class="release-timeline hide-on-mobile">
  <Releases::ReleaseTimeline::Stable
    @eventDescription="Released {{format-date-time @emberBetaProject.date}}"
    @eventName={{@emberBetaProject.initialVersion}}
    @isReleased={{true}}
  />

  <div class="path-to-release">
    <div class="bold">
      The path to {{@emberBetaProject.finalVersion}}...
    </div>

    <div class="steps">
      {{#each (array 1 2 3 4 5 6) as |version|}}
        <Releases::ReleaseTimeline::Beta
          @emberBetaProject={{@emberBetaProject}}
          @version={{version}}
        />
      {{/each}}
    </div>
  </div>

  <Releases::ReleaseTimeline::Stable
    @eventDescription="Coming the week of {{format-date-time @emberBetaProject.cycleEstimatedFinishDate}}"
    @eventName={{@emberBetaProject.finalVersion}}
    @isReleased={{false}}
  />
</div>