{{head-layout}}
{{title "Ember.js"}}

{{!-- When the survey is over, comment out the next line instead of deleting it. --}}
<CtaBanner />

<EsHeader @links={{this.links}} @home="/" />

<main>
  {{outlet}}
</main>

<EsFooter @infoLinks={{this.infoLinks}}/>