<EsHeader class="dark">
  <EsNavbar @links={{links}} @home="/">
    {{!-- TODO: add search implementation --}}
  </EsNavbar>
</EsHeader>

{{ember-survey}}

{{!-- {{job-board-banner}} --}}

<main>
  {{outlet}}
</main>

{{es-footer}}
