{{head-layout}}
{{title "Ember.js"}}

{{#es-header}}
  {{#es-navbar links=links home="/"}}
    {{!-- TODO: add search implementation --}}
  {{/es-navbar}}
{{/es-header}}

{{ember-survey}}

{{job-board-banner}}

<div class="survey-reminder-wrapper">
  <div class="survey-reminder-container">
    <LinkTo @route="editions.octane">
      Learn more about the upcoming Edition: Octane
    </LinkTo>
  </div>
</div>

<main class="container">
  {{outlet}}
</main>

{{es-footer}}
