{{page-title (t "browser-support.title")}}

<div class="container layout">
  <section aria-labelledby="section-browser-support-policy">
    <h1 id="section-browser-support-policy">{{t "browser-support.heading"}}</h1>

    <h2>{{t "browser-support.ember3.heading"}}</h2>

    <p>{{t "browser-support.ember3.support"}}</p>

    <div class="layout my-3">
      <div class="card lg:col-2 lg:start-3">
        <div class="card__content">
          <ul>
            <li>Google Chrome</li>
            <li>Mozilla Firefox</li>
            <li>Microsoft Edge</li>
            <li>Internet Explorer 11</li>
            <li>Safari</li>
          </ul>
        </div>
      </div>
    </div>

    <h2>{{t "browser-support.ember4.heading"}}</h2>

    <p>{{t "browser-support.ember4.support"}}</p>

    <ul class="list-unstyled layout my-3">
      <EsCard class="lg:col-2">
        <div class="text-center text-md">{{t "form-factors.desktop"}}</div>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
          <li>Microsoft Edge</li>
          <li>Safari</li>
        </ul>
      </EsCard>
      <EsCard class="lg:col-2">
        <div class="text-center text-md">{{t "form-factors.mobile"}}</div>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
          <li>Safari</li>
        </ul>
      </EsCard>
      <EsCard class="lg:col-2">
        <div class="text-center text-md">{{t "form-factors.testing"}}</div>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
        </ul>
      </EsCard>
    </ul>

    <p>{{t "browser-support.ember4.other-browsers" htmlSafe=true}}</p>
    <p>{{t "browser-support.ember4.evergreen.support" htmlSafe=true}}</p>

    <h3 class="text-center">{{t "browser-support.ember4.evergreen.sub-heading"}}</h3>

    <ul class="list-unstyled layout my-3">
      <EsCard class="lg:col-2">
        <div class="text-center text-md">{{t "form-factors.desktop"}}</div>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
          <li>Microsoft Edge</li>
        </ul>
      </EsCard>
      <EsCard class="lg:col-2">
        <div class="text-center text-md">{{t "form-factors.mobile"}}</div>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
        </ul>
      </EsCard>
      <EsCard class="lg:col-2">
        <div class="text-center text-md">{{t "form-factors.testing"}}</div>
        <ul>
          <li>Google Chrome</li>
          <li>Mozilla Firefox</li>
        </ul>
      </EsCard>
    </ul>

    <h3 class="text-center">{{t "browser-support.ember4.non-evergreen.sub-heading"}}</h3>

    <div class="layout">
      <ul class="list-unstyled layout lg:col-4 lg:start-2 my-3">
        <EsCard class="lg:col-3">
          <div class="text-center text-md">{{t "form-factors.desktop"}}</div>
          <ul>
            <li>Safari</li>
          </ul>
        </EsCard>
        <EsCard class="lg:col-3">
          <div class="text-center text-md">{{t "form-factors.mobile"}}</div>
          <ul>
            <li>Safari</li>
          </ul>
        </EsCard>
      </ul>
    </div>

    <p>{{t "browser-support.ember4.formula.intro"}}</p>

    <div class="layout my-3">
      <div class="card">
        <div class="card__content">
          <p>{{t "browser-support.ember4.formula.query"}}</p>

          {{t "browser-support.ember4.formula.properties" htmlSafe=true}}
        </div>
      </div>
    </div>

    <p>{{t "browser-support.ember4.formula.p1"}}</p>
    <p>{{t "browser-support.ember4.formula.p2"}}</p>

    <div class="layout">
      <ul class="list-unstyled layout lg:col-4 lg:start-2 my-3">
        <EsCard class="lg:col-3">
          <div class="text-center text-md">{{t "form-factors.desktop"}}</div>
          <ul>
            <li>Safari: 12</li>
          </ul>
        </EsCard>
        <EsCard class="lg:col-3">
          <div class="text-center text-md">{{t "form-factors.mobile"}}</div>
          <ul>
            <li>Safari: 12</li>
          </ul>
        </EsCard>
      </ul>
    </div>


    {{t "browser-support.ember4.patch-stipulation"}}
  </section>
</div>
