<div class="survey-reminder-wrapper hidden">
  <div class="survey-reminder-container">
    You have <strong class="survey-time-left"></strong> left to submit your response!
  </div>
</div>

<div class="survey-wrapper survey-wrapper-header">
  <div class="survey-header survey-container">
    <h1 class="survey-h1">
      <img src="/images/survey/logo2019.png" alt="Ember Community Survey 2019">
    </h1>
    <p class="survey-tagline">
      A project to learn who is using Ember, and how.
    </p>

  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#how-likely-to-recommend-ember" id="how-likely-to-recommend-ember" class="survey-h2">
      Recommending Ember
    </a>
    <HighCharts @chartOptions={{recommendingEmber.options}} @content={{recommendingEmber.data}} @theme={{theme}} />
    <p class="large">
      We asked respondents how likely they were to recommend Ember to a friend or colleague.
      The mean recommendation score is <b>8/10</b>.
    </p>

    <p class="large">
      Participants reported their reasoning for their score as free-form text,
      and below, we've provided a sample of responses alongside their corresponding recommendation score.
    </p>
    <p class="large">
      We did not observe a great deal of variety in the written responses that corresponded to values of five or less.
      However, we were thrilled to see the opposite effect in the upper ranges -- that is, <b>community members simply have a lot of different reasons to recommend Ember.js</b> to a friend or colleague!

    </p>
    <p class="large">
      Here is a flavor of what reasons participants gave for their scoring:
    </p>

    <div class="cluster">
      <p><b>Score: 10</b></p>
      <blockquote>
        "Ember is a modern, opinionated framework with a <em>great</em> community & core teams who put a lot of consideration in
        to all decisions to maintain stability while keeping it up-to-date. This is essential for business users like
        myself, because I can relax knowing that deprecations & breaking changes will be flagged up months/years in
        advance."
      </blockquote>
    </div>

    <div class="cluster">
      <p><b>Score: 4</b></p>
      <blockquote>
        "It just isn't used broadly enough in my part of the country to encourage people in that direction. The exception
        is for a large team that is starting from scratch - there I would recommend it still."
      </blockquote>
    </div>

    <div class="cluster">
      <p><b>Score: 10</b></p>
      <blockquote>
        "(We) use Ember for nearly all the products we produce. We’ve managed to solve so many issues and roadblocks we’ve
        run into with other frameworks; it not only allows us to write more robust applications, it has been a huge time
        saver as well."
      </blockquote>
    </div>

    <div class="cluster">
      <p><b>Score: 10</b></p>
      <blockquote>
        "You can learn Ember once and apply your knowledge in any other Ember project. That is an achievement which can't
        even be remotely accomplished by (other frameworks). Ember is always a coherent experience as all addons can be
        authored and consumed via the same tools. Spending less brainpower on tooling, setting up a testing environment,
        or writing testable code is a very good thing."
      </blockquote>
    </div>
  </div>
</div>

{{#each sortedModel as |surveySection|}}
  <div class="survey-wrapper survey-border-top">
    <div class="survey-body survey-container">
      <a href="#{{surveySection.fragment}}" id={{surveySection.questionId}} class="survey-h2">
        {{surveySection.title}}
      </a>
      <HighCharts @chartOptions={{get this (concat surveySection.questionId ".options")}} @content={{get this (concat surveySection.questionId ".data")}} @theme={{theme}} />
      <p class="large">
        {{surveySection.content}}
      </p>
    </div>
  </div>
{{/each}}

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q501" id="SS_Q501" class="survey-h2">
      In which region do you live?
    </a>
    <HighCharts @chartOptions={{SS_Q501.options}} @content={{SS_Q501.data}} @theme={{theme}} />
    <p class="large">
      Each year we provide the opportunity for community members to provide demographic information in addition to details
      about how the community interacts with the Ember project.
      The summary of locations participants call home, while largely the same for the past two years, saw a significant jump this year in developers in Europe!
    </p>

    <p class="large">
      The percentage of participants who identified as women this year was 7%, an increase of 3% from last year.
      Improving the diversity of our community is important to many of us.
      Programs in the community like <a href="http://emberwomen.com/">Women Helping Women</a>
      make a difference.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q601" id="MS_Q601" class="survey-h2">
      Did you participate in any of the following surveys?
    </a>
    <HighCharts @chartOptions={{MS_Q601.options}} @content={{MS_Q601.data}} @theme={{theme}} />
    <p class="large">
      We wanted to know if our community was as well-represented in other popular surveys as they were in maintstream surveys that were published in 2018. The data suggests that the Ember community is not well-represented in other surveys (only 39% of respondents also participated in the most popular of the other surveys). We believe this is due to specific outreach methods we use to ensure a wide-range of participation. We think that this data could be useful to other tech survey writers, and we will attempt to share our outreach methods, in order to help them obtain a more accurate sampling of the Ember community at large.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#how-can-we-improve-ember" id="how-can-we-improve-ember" class="survey-h2">
      How Can We Improve Ember?
    </a>
    <p class="large">
      As the last question of the survey we asked participants:
      "What would it take for you to feel great about using and recommending Ember for new projects?" Using text
      similarity analysis, we identified the most commonly mentioned topics. Here they are, in descending order.
    </p>

    <div class="cluster">
      <p>Topic Title</p>
      <blockquote>
        ...
      </blockquote>
    </div>

    <div class="cluster">
      <p>Topic Title</p>
      <blockquote>
        ...
      </blockquote>

      <br>

      <blockquote>
        ...
      </blockquote>
    </div>

    <div class="cluster">
      <p>Topic Title</p>
      <blockquote>
        ...
      </blockquote>
    </div>

    <div class="cluster">
      <p>Topic Title</p>
      <blockquote>
        ...
      </blockquote>

      <br>

      <blockquote>
        ...
      </blockquote>
    </div>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#closing-thoughts" id="closing-thoughts" class="survey-h2 mono">
      Closing Thoughts
    </a>

    <p class="large">
      We would like to thank everyone who took the time to participate in the 2019 Ember Community Survey! We hope this
      information can provide a platform for discussion and ideas around the entire Ember ecosystem as it moves forward.
    </p>

    <p class="large">
      This is the fifth year of the Ember Community Survey. To see results for previous years, you can visit the
      <a href="https://www.emberjs.com/ember-community-survey-2018/">2018</a>,
      <a href="https://www.emberjs.com/ember-community-survey-2017/">2017</a>,
      <a href="https://www.emberjs.com/ember-community-survey-2016/">2016</a>
      and <a href="https://www.201-created.com/ember-community-survey-2015/">2015</a> survey results pages.
    </p>

    <p class="large">
      If you have any questions about this survey, the data, the methods used, or any other feedback, please email us at
      <a href="survey@emberjs.com">survey@emberjs.com</a>.
    </p>
  </div>
  <div class="survey-credits">
    <p>Brought to you by</p>
    <a href="http://www.codeallday.com/">
      <img src="/images/survey/cad-right.svg" alt="Code All Day" />
    </a>
  </div>
</div>
