<div class="survey-reminder-wrapper hidden">
  <div class="survey-reminder-container">
    You have <strong class="survey-time-left"></strong> left to submit your response!
  </div>
</div>

<div class="survey-wrapper survey-wrapper-header">
  <div class="survey-header survey-container">
    <h1 class="survey-h1">
      <img src="/images/survey/logo2019.png" alt="Ember Community Survey 2019">
    </h1>
    <p class="survey-tagline">
      A project to learn who is using Ember, and how.
    </p>

  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#how-likely-to-recommend-ember" id="how-likely-to-recommend-ember" class="survey-h2">
      Recommending Ember
    </a>
    <HighCharts @chartOptions={{recommendingEmber.options}} @content={{recommendingEmber.data}} @theme={{theme}} />
    <p class="large">
      We asked respondents how likely they were to recommend Ember to a friend or colleague.
      The mean recommendation score is <b>8/10</b>.
    </p>

    <p class="large">
      Participants reported their reasoning for their score as free-form text,
      and below, we've provided a sample of responses alongside their corresponding recommendation score.
    </p>
    <p class="large">
      We did not observe a great deal of variety in the written responses that corresponded to values of five or less.
      However, we were thrilled to see the opposite effect in the upper ranges -- that is, <b>community members simply have a lot of different reasons to recommend Ember.js</b> to a friend or colleague!

    </p>
    <p class="large">
      Here is a flavor of what reasons participants gave for their scoring:
    </p>

    <div class="cluster">
      <p><b>Score: 10</b></p>
      <blockquote>
        "Ember is a modern, opinionated framework with a <em>great</em> community & core teams who put a lot of consideration in
        to all decisions to maintain stability while keeping it up-to-date. This is essential for business users like
        myself, because I can relax knowing that deprecations & breaking changes will be flagged up months/years in
        advance."
      </blockquote>
    </div>

    <div class="cluster">
      <p><b>Score: 4</b></p>
      <blockquote>
        "It just isn't used broadly enough in my part of the country to encourage people in that direction. The exception
        is for a large team that is starting from scratch - there I would recommend it still."
      </blockquote>
    </div>

    <div class="cluster">
      <p><b>Score: 10</b></p>
      <blockquote>
        "(We) use Ember for nearly all the products we produce. We’ve managed to solve so many issues and roadblocks we’ve
        run into with other frameworks; it not only allows us to write more robust applications, it has been a huge time
        saver as well."
      </blockquote>
    </div>

    <div class="cluster">
      <p><b>Score: 10</b></p>
      <blockquote>
        "You can learn Ember once and apply your knowledge in any other Ember project. That is an achievement which can't
        even be remotely accomplished by (other frameworks). Ember is always a coherent experience as all addons can be
        authored and consumed via the same tools. Spending less brainpower on tooling, setting up a testing environment,
        or writing testable code is a very good thing."
      </blockquote>
    </div>
  </div>
</div>

{{#each sortedModel as |surveySection|}}
  <div class="survey-wrapper survey-border-top">
    <div class="survey-body survey-container">
      <a href="#{{surveySection.questionId}}" id={{surveySection.questionId}} class="survey-h2">
        {{surveySection.title}}
      </a>
      <HighCharts @chartOptions={{get this (concat surveySection.questionId ".options")}} @content={{get this (concat surveySection.questionId ".data")}} @theme={{theme}} />
      <p class="large">
        {{surveySection.content}}
      </p>
    </div>
  </div>
{{/each}}

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q402" id="MS_Q402" class="survey-h2">
      If you use Ember Data, which version(s) are used in your apps?
    </a>
    <HighCharts @chartOptions={{MS_Q402.options}} @content={{MS_Q402.data}} @theme={{theme}} />
    <p class="large">
      TODO
      {{!-- Ember Data adoption follows a similar curve to Ember, with the majority of respondents on 3.0 or 2.18. Older Ember Data usage also continues to drop, with respondents on 1.13 at 7% (down from 10% last year) and on pre-1.13 at 4% (down from
      7% last year). --}}
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q104" id="SS_Q104" class="survey-h2">
      How long have you been working with Ember?
    </a>
    <HighCharts @chartOptions={{SS_Q104.options}} @content={{SS_Q104.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q104.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q103" id="MS_Q103" class="survey-h2">
      What are the ways you learn about and stay up to date with Ember?
    </a>
    <HighCharts @chartOptions={{MS_Q103.options}} @content={{MS_Q103.data}} @theme={{theme}} />
    <p class="large">
      We added more options this year, as there are more ways than ever before to keep up with all things Ember.
      We'll be interested to see what directions the trends go in the coming years!
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#stack-skills" id="stack-skills" class="survey-h2">
      Stack Skillset Self-Appraisal
    </a>
    <HighCharts @chartOptions={{stackSkillsChart.options}} @content={{stackSkillsChart.data}} @theme={{theme}} />
    <p class="large">
      Accessibility has very clearly been self-identified as "the final frontieer" for Ember developers!
      Our community has proven over time that shared solutions work well, and this area is a great opportunity to provide accessible applications to <em>everyone</em> who uses an Ember app- which, these days, includes websites to pay your utilities, do your banking, and more!
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q111" id="MS_Q111" class="survey-h2">
      Which text editors do you use for development?
    </a>
    <HighCharts @chartOptions={{MS_Q111.options}} @content={{MS_Q111.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q111.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q112" id="MS_Q112" class="survey-h2">
      What ways do you participate in the Ember community?
    </a>
    <HighCharts @chartOptions={{MS_Q112.options}} @content={{MS_Q112.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q112.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q114" id="MS_Q114" class="survey-h2">
      With which of these other front-end framework(s) do you have some level of experience?
    </a>
    <HighCharts @chartOptions={{MS_Q114.options}} @content={{MS_Q114.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q114.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q202" id="MS_Q202" class="survey-h2">
      Choose the option(s) that best describe your employment situation:
    </a>
    <HighCharts @chartOptions={{MS_Q202.options}} @content={{MS_Q202.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q202.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q203" id="SS_Q203" class="survey-h2">
      I use Ember for work:
    </a>
    <HighCharts @chartOptions={{SS_Q203.options}} @content={{SS_Q203.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q203.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q204" id="SS_Q204" class="survey-h2">
      When taking your most recent job:
    </a>
    <HighCharts @chartOptions={{SS_Q204.options}} @content={{SS_Q204.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q204.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q205" id="SS_Q205" class="survey-h2">
      When taking your most recent job your pre-existing knowledge of Ember.js was:
    </a>
    <HighCharts @chartOptions={{SS_Q205.options}} @content={{SS_Q205.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q205.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q302" id="SS_Q302" class="survey-h2">
      How many developers at your company are responsible for writing Ember code?
    </a>
    <HighCharts @chartOptions={{SS_Q302.options}} @content={{SS_Q302.data}} @theme={{theme}} />
    <p class="large">
      We also asked "how many developers at your company are responsible for writing front-end code?" and saw that there were similar trends between the answers for these two questions. Ember developers are overwhelmingly front-end developers!
    </p>
  </div>
</div>

<!--<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q303" id="SS_Q303" class="survey-h2">
      At this time next year, how many Ember developers does your company plan to employ?
    </a>
    <HighCharts @chartOptions={{SS_Q303.options}} @content={{SS_Q303.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q303.
    </p>
  </div>
</div>-->

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q304" id="MS_Q304" class="survey-h2">
      What are the accessibility requirements for your business?
    </a>
    <HighCharts @chartOptions={{MS_Q304.options}} @content={{MS_Q304.data}} @theme={{theme}} />
    <p class="large">
      We hope that this question inspired those who don't know, to find out! We encourage all Ember developers to advocate for accessibility as a marker of quality code and help turn this into more of a self-imposed requirement for next year.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q306" id="SS_Q306" class="survey-h2">
      Does your business require applications to be internationalized?
    </a>
    <HighCharts @chartOptions={{SS_Q306.options}} @content={{SS_Q306.data}} @theme={{theme}} />
    <p class="large">
      While English was the primary language for 92% of applications, we can see that a growing number of apps require internationalization. This is a great way to ensure that your apps can be used by everyone all over the globe- and of course, there's an addon for that. Check out <a href="https://github.com/ember-intl/ember-intl">ember-intl</a> and see the possibilities!
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q307" id="MS_Q307" class="survey-h2">
      In which sector(s) do you operate?
    </a>
    <HighCharts @chartOptions={{MS_Q307.options}} @content={{MS_Q307.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q307.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q405" id="SS_Q405" class="survey-h2">
      What is the primary language of your server-side stack?
    </a>
    <HighCharts @chartOptions={{SS_Q405.options}} @content={{SS_Q405.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q405.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q406" id="MS_Q406" class="survey-h2">
      Which of these server-side frameworks do you use?
    </a>
    <HighCharts @chartOptions={{MS_Q406.options}} @content={{MS_Q406.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q406.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q407" id="MS_Q407" class="survey-h2">
      What standards do you follow for API design?
    </a>
    <HighCharts @chartOptions={{MS_Q407.options}} @content={{MS_Q407.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q407.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q408" id="MS_Q408" class="survey-h2">
      What testing framework(s) do you use in your Ember apps?
    </a>
    <HighCharts @chartOptions={{MS_Q408.options}} @content={{MS_Q408.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q408.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q409" id="MS_Q409" class="survey-h2">
      How old are your Ember applications?
    </a>
    <HighCharts @chartOptions={{MS_Q409.options}} @content={{MS_Q409.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q409.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q410" id="SS_Q410" class="survey-h2">
      How many Ember apps do you work on?
    </a>
    <HighCharts @chartOptions={{SS_Q410.options}} @content={{SS_Q410.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q410.
    </p>
  </div>
</div>

<!-- <div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q411" id="MS_Q411" class="survey-h2">
      What technologies are part of your deployment stack?
    </a>
    <HighCharts @chartOptions={{MS_Q411.options}} @content={{MS_Q411.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q411.
    </p>
  </div>
</div> -->

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q412" id="MS_Q412" class="survey-h2">
      What is the primary target platform for your Ember apps?
    </a>
    <HighCharts @chartOptions={{MS_Q412.options}} @content={{MS_Q412.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q412.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q413" id="MS_Q413" class="survey-h2">
      Who uses your application(s)?
    </a>
    <HighCharts @chartOptions={{MS_Q413.options}} @content={{MS_Q413.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q413.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q414" id="MS_Q414" class="survey-h2">
      What browser versions do your applications target?
    </a>
    <HighCharts @chartOptions={{MS_Q414.options}} @content={{MS_Q414.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q414.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q415" id="MS_Q415" class="survey-h2">
      At this time next year, what browser versions do you expect your applications to target?
    </a>
    <HighCharts @chartOptions={{MS_Q415.options}} @content={{MS_Q415.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q415.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q416" id="MS_Q416" class="survey-h2">
      Which of these best describes your use of Ember in production applications?
    </a>
    <HighCharts @chartOptions={{MS_Q416.options}} @content={{MS_Q416.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q416.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q417" id="MS_Q417" class="survey-h2">
      What method do you rely on for search engine indexing?
    </a>
    <HighCharts @chartOptions={{MS_Q417.options}} @content={{MS_Q417.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart MS_Q417.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q418" id="SS_Q418" class="survey-h2">
      How many addons have you written?
    </a>
    <HighCharts @chartOptions={{SS_Q418.options}} @content={{SS_Q418.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q418.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q419" id="SS_Q419" class="survey-h2">
      How many addons have you published publicly?
    </a>
    <HighCharts @chartOptions={{SS_Q419.options}} @content={{SS_Q419.data}} @theme={{theme}} />
    <p class="large">
      This is placeholder text for chart SS_Q419.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#SS_Q501" id="SS_Q501" class="survey-h2">
      In which region do you live?
    </a>
    <HighCharts @chartOptions={{SS_Q501.options}} @content={{SS_Q501.data}} @theme={{theme}} />
    <p class="large">
      Each year we provide the opportunity for community members to provide demographic information in addition to details
      about how the community interacts with the Ember project.
      The summary of locations participants call home, while largely the same for the past two years, saw a significant jump this year in developers in Europe!
    </p>

    <p class="large">
      The percentage of participants who identified as women this year was 7%, an increase of 3% from last year.
      Improving the diversity of our community is important to many of us.
      Programs in the community like <a href="http://emberwomen.com/">Women Helping Women</a>
      make a difference.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#MS_Q601" id="MS_Q601" class="survey-h2">
      Did you participate in any of the following surveys?
    </a>
    <HighCharts @chartOptions={{MS_Q601.options}} @content={{MS_Q601.data}} @theme={{theme}} />
    <p class="large">
      We wanted to know if our community was as well-represented in other popular surveys as they were in maintstream surveys that were published in 2018. The data suggests that the Ember community is not well-represented in other surveys (only 39% of respondents also participated in the most popular of the other surveys). We believe this is due to specific outreach methods we use to ensure a wide-range of participation. We think that this data could be useful to other tech survey writers, and we will attempt to share our outreach methods, in order to help them obtain a more accurate sampling of the Ember community at large.
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#how-can-we-improve-ember" id="how-can-we-improve-ember" class="survey-h2">
      How Can We Improve Ember?
    </a>
    <p class="large">
      As the last question of the survey we asked participants:
      "What would it take for you to feel great about using and recommending Ember for new projects?" Using text
      similarity analysis, we identified the most commonly mentioned topics. Here they are, in descending order.
    </p>

    <div class="cluster">
      <p>Topic Title</p>
      <blockquote>
        ...
      </blockquote>
    </div>

    <div class="cluster">
      <p>Topic Title</p>
      <blockquote>
        ...
      </blockquote>

      <br>

      <blockquote>
        ...
      </blockquote>
    </div>

    <div class="cluster">
      <p>Topic Title</p>
      <blockquote>
        ...
      </blockquote>
    </div>

    <div class="cluster">
      <p>Topic Title</p>
      <blockquote>
        ...
      </blockquote>

      <br>

      <blockquote>
        ...
      </blockquote>
    </div>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#closing-thoughts" id="closing-thoughts" class="survey-h2 mono">
      Closing Thoughts
    </a>

    <p class="large">
      We would like to thank everyone who took the time to participate in the 2019 Ember Community Survey! We hope this
      information can provide a platform for discussion and ideas around the entire Ember ecosystem as it moves forward.
    </p>

    <p class="large">
      This is the fifth year of the Ember Community Survey. To see results for previous years, you can visit the
      <a href="https://www.emberjs.com/ember-community-survey-2018/">2018</a>,
      <a href="https://www.emberjs.com/ember-community-survey-2017/">2017</a>,
      <a href="https://www.emberjs.com/ember-community-survey-2016/">2016</a>
      and <a href="https://www.201-created.com/ember-community-survey-2015/">2015</a> survey results pages.
    </p>

    <p class="large">
      If you have any questions about this survey, the data, the methods used, or any other feedback, please email us at
      <a href="survey@emberjs.com">survey@emberjs.com</a>.
    </p>
  </div>
  <div class="survey-credits">
    <p>Brought to you by</p>
    <a href="http://www.codeallday.com/">
      <img src="/images/survey/cad-right.svg" alt="Code All Day" />
    </a>
  </div>
</div>
