{{page-title "Community Survey 2018"}}
<div class="bg-dark bg-shape-boxes">
  <div class="container">

    <img class="survey-logo" src="/images/survey/logo2018.svg" alt="Ember Community Survey 2018">

    <h1 class="survey-tagline">
      A project to learn who is using Ember, and how.
    </h1>

    <h2 class="mt-1">With over 1300 responses, here are the 2018 survey results!</h2>
  </div>
</div>

<div>
  <div class="container">
    <div class="mb-3">
      <a href="#new-release-adoption" id="new-release-adoption" class="text-lg">
        New Release Adoption
      </a>
    </div>

    <Highcharts
      @chartOptions={{this.newReleaseAdoption.options}}
      @data={{this.newReleaseAdoption.data}}
      @theme={{this.theme}}
    />

    <p class="text-md">
      During the course of the survey, Ember 3.0 became the latest stable
      release of the framework. Despite the feature removals in 3.0, over a
      quarter of survey participants are using the newest release. Ember 1.13
      usage continues to drop slowly, and this year only 8% of developers
      report working with a 1.13 app and 5% using a pre-1.13 version.
    </p>

    <div class="grid lg:grid-2">
      <Highcharts
        @chartOptions={{this.overallAdoption.options}}
        @data={{this.overallAdoption.data}}
        @theme={{this.theme}}
      />
      <Highcharts
        @chartOptions={{this.emberDataAdoption.options}}
        @data={{this.emberDataAdoption.data}}
        @theme={{this.theme}}
      />
    </div>

    <p class="text-md">
      Ember Data adoption follows a similar curve to Ember, with the majority of respondents on 3.0 or 2.18. Older Ember Data usage also continues to drop, with respondents on 1.13 at 7% (down from 10% last year) and on pre-1.13 at 4% (down from
      7% last year).
    </p>
  </div>
</div>

<div class="bg-light-muted">
  <div class="container">
    <div class="mb-3">
      <a href="#how-likely-to-recommend-ember" id="how-likely-to-recommend-ember" class="text-lg">
        Recommending Ember
      </a>
    </div>
    <Highcharts
      @chartOptions={{this.recommendingEmber.options}}
      @data={{this.recommendingEmber.data}}
      @theme={{this.theme}}
    />
    <p class="text-md">
      We asked respondents how likely they were to recommend Ember to a friend or colleague.
      An average recommendation score is 8.2, and the calculated <a href="https://en.wikipedia.org/wiki/Net_Promoter">Net Promoter Score</a> is 35.4.
      The plurality of responses were a 10.
    </p>

    <p class="text-md">
      Using the recommendation scores we created three segments of Detractors (1-6), Passives (7-8), and Promoters (9-10).
      Participants reported their reasoning for their score as free-form text,
      and below we've provided the most frequent category of responses in
      each segment based on similarity analysis.
    </p>

    <p class="text-md">
      Here is a flavor of what reasons participants gave for their scoring:
    </p>

    <ul class="list-unstyled scoring-list">
      <EsCard class="text-center my-2">
        <h4>Score: 10</h4>
        <aside class="quote">
          Ember has been a great experience for me over the last few years. The documentation is very mature, great examples in the wild, mature addon ecosystem, helpful community, etc. Convention over configuration is really great
          too. I've been able to jump to different organizations and teams within those organizations, and be able to quickly contribute to projects.
        </aside>
      </EsCard>

      <EsCard class="text-center my-2">
        <h4>Score: 2</h4>
        <aside class="quote">The learning curve and restrictiveness of the framework are too steep. They would be better off learning something more specific to their needs.</aside>
      </EsCard>

      <EsCard class="text-center my-2">
        <h4>Score: 10</h4>
        <aside class="quote">
          Ember <em>respects</em> its users through thoughtful innovation with deprecation workflow and RFC process. As a <em>large</em> enterprise, I can bet on the Ember community because I know my investments will be cumulative
          over time.
        </aside>
      </EsCard>

      <EsCard class="text-center my-2">
        <h4>Score: 10</h4>
        <aside class="quote">
          I've used Ember for almost 5 years now and the development experience is as good as anything I've ever used. It allows me to build powerful user experiences with minimal concern about the underlying functionality of the
          FE. There is typically a "suggested" way to do something, if not a documented best practice and almost any external library I've ever had to use was easily decomposable into native Ember components.
        </aside>
      </EsCard>
    </ul>

  </div>
</div>

<div>
  <div class="container">
    <div class="mb-3">
      <a href="#how-can-we-improve-ember" id="how-can-we-improve-ember" class="text-lg">
        How Can We Improve Ember?
      </a>
    </div>
    <p class="text-md">
      As the last question of the survey we asked participants:
      "What would it take for you to feel great about using and recommending Ember for new projects?" Using text similarity analysis, we identified the most commonly mentioned topics. Here they are, in descending order.
    </p>

    <ul class="list-unstyled scoring-list">
      <EsCard class="text-center my-2">
        <h4>Ember Data</h4>
        <aside class="quote">
          I like the way it seems like the framework is headed in the sense that it is being “destructured” into different optional pieces. I think that will be great for adoption. Our biggest pain points have been around Ember Data (long-unaddressed
          issues, missing features like relationship dirty tracking, performance) so some addressing of those would also be nice. Overall though I already feel great about using it and recommending it. I’ve used it for a couple personal projects
          already and would love to in the future.
        </aside>
      </EsCard>


      <EsCard class="text-center my-2">
        <h4>Documentation</h4>
        <aside class="quote">
          If Ember were easier to learn, and easier to work around the framework, perhaps less verbose I would feel great about using and recommending it more.
          I love the thinking that drives Ember, it is clear and predictable (similar to Rails).
          That being said, the documentation was difficult to get through and it was hard to maintain the philosophical clarity down into the details of the code.
        </aside>

        <br>

        <aside class="quote">
          Simplification of the mental model for Ember.

          After spending the last few months with React for the first time, I see the initial appeal - it's a vastly simply mental model. I realize that this is not entirely fair - React would be better compared to Glimmer than all of Ember.

          For a sufficiently complex app, I have no doubt that an Ember implementation would be much easier to learn &amp; maintain.

          But for new or simple apps, there's overhead that is intimidating to newcomers and irksome to veterans such as myself.

          Even if we only compare React to Ember's view/component layer, React is still much simpler to learn and reason about.

          And like it or not, the rest of the JS world compares React directly to Ember, and it feels futile to attempt to change that comparison. We need to do better in that comparison, not try to change everyone's mind that it's the wrong
          comparison to make.
        </aside>
      </EsCard>

      <EsCard class="text-center my-2">
        <h4>Glimmer</h4>
        <aside class="quote">
          I think we need more new features. Glimmer components and some of the other major new usability enhancements that've been on the roadmap for some time would be really huge in selling Ember to the wider community. We still have that
          reputation of being the same framework we were 4 years ago ... and I think it's undeserved. We are technically making strides past many other frameworks at this point, and I think showing what Ember is now capable of will finally break that
          mentality.
        </aside>
      </EsCard>

      <EsCard class="text-center my-2">
        <h4>Community</h4>
        <aside class="quote">
          Showing leadership in adopting new web standards and tech (e.g. WebAssembly). Keep pushing performance (Glimmer). Maintain Ember's identity. Continue to foster a great community.
        </aside>

        <br>

        <aside class="quote">
          I wish the leadership was more vocal to the broader JS community. We're doing amazing things and too many devs don't even know what Ember is. Perhaps more critically, the whole framework seems to be balanced on the shoulders of just a few
          people, and I'd like to see that number grow. The "bus factor" risk appears to be pretty bad for the core libraries.
        </aside>
      </EsCard>
    </ul>
  </div>
</div>

<div class="bg-light-muted">
  <div class="container">
    <div class="mb-3">
      <a href="#ember-for-hire" id="ember-for-hire" class="text-lg">
        Ember for Hire
      </a>
    </div>
    <div class="grid lg:grid-2">
      <div class="survey-column half">
        <Highcharts
          @chartOptions={{this.employerUsingEmber.options}}
          @data={{this.employerUsingEmber.data}}
          @theme={{this.theme}}
        />
      </div>
      <div class="survey-column half">
        <Highcharts
          @chartOptions={{this.gettingHired.options}}
          @data={{this.gettingHired.data}}
          @theme={{this.theme}}
        />
      </div>
    </div>

    <p class="text-md">
      The number of employers already using Ember rose this year, up to 52% from 39% last year, and the numbers for whom Ember knowledge was important or very important also both grew.
    </p>
  </div>
</div>

<div>
  <div class="container">
    <div class="mb-3">
      <a href="#ember-in-the-enterprise" id="ember-in-the-enterprise" class="text-lg">
        Ember In the Enterprise
      </a>
    </div>
    <Highcharts
      @chartOptions={{this.productionApps.options}}
      @data={{this.productionApps.data}}
      @theme={{this.theme}}
    />
    <p class="text-md">
      Ember apps with large user bases have grown again this year, with a large increase in apps that have thousands of users.
      This year the survey included 2 additional responses: "Tens of Thousands" and "Hundreds of Thousands".
      The chart immediately above shows the detailed breakdown of 2018's responses.
    </p>

    <Highcharts
      @chartOptions={{this.emberenoEmployment.options}}
      @data={{this.emberenoEmployment.data}}
      @theme={{this.theme}}
    />

    <p class="text-md">
      More Embereños are working on products than ever before, with 80% of respondents reporting that they work on products.
    </p>

    <Highcharts
      @chartOptions={{this.applicationUsers.options}}
      @data={{this.applicationUsers.data}}
      @theme={{this.theme}}
    />

    <Highcharts
      @chartOptions={{this.teamSize.options}}
      @data={{this.teamSize.data}}
      @theme={{this.theme}}
    />
    <p class="text-md">
      Ember-focused developer teams are getting larger. This year the survey included a response to indicate that one's Ember team is greater than 500 developers, and
      2.4% of the respondents reported that they work in teams of 500+ other Ember developers!
    </p>
  </div>
</div>

<div class="bg-light-muted">
  <div class="container">
    <div class="mb-3">
      <a href="#long-lived-codebases" id="long-lived-codebases" class="text-lg">
        Long-Lived Codebases
      </a>
    </div>
    <Highcharts
      @chartOptions={{this.longLivedCodebases.options}}
      @data={{this.longLivedCodebases.data}}
      @theme={{this.theme}}
    />
    <p class="text-md">
      This chart shows the percentage of respondents who were maintaining an Ember app created
      in 2014 (technically, between March 2014 and March 2015) at the time they answered this question.
      The percentage of the community maintaining these now 3+ year old apps has declined every year but a significant
      number of respondents still do work on these apps, indicating that some Ember codebases can really stand the test of time.
    </p>
  </div>
</div>

<div>
  <div class="container">
    <div class="mb-3">
      <a href="#community-participation" id="community-participation" class="text-lg">
        Community Participation
      </a>
    </div>
    <Highcharts
      @chartOptions={{this.communityParticipation.options}}
      @data={{this.communityParticipation.data}}
      @theme={{this.theme}}
    />
    <p class="text-md">
      This chart shows some of the biggest changes in response from last year (in both positive and negative directions) to the question of how community members stay up to date with Ember.
      Notably, usage of RFCs (reading, writing, and commenting upon) has grown dramatically this year.
    </p>
  </div>
</div>

<div class="bg-light-muted">
  <div class="container">
    <div class="mb-3">
      <a href="#server-side" id="server-side" class="text-lg">
        Server-side &amp; Tools
      </a>
    </div>

    <Highcharts
      @chartOptions={{this.serverSide.options}}
      @data={{this.serverSide.data}}
      @theme={{this.theme}}
    />
    <Highcharts
      @chartOptions={{this.serverSideFrameworks.options}}
      @data={{this.serverSideFrameworks.data}}
      @theme={{this.theme}}
    />
    <p class="text-md">
      Ruby continues to be the dominant server-side language used, but enterprise-focused languages are gaining in prominence this year, reflecting
      the trend borne out by other charts that show more Ember usage in enterprise situations. Participants using .NET increased from 8.8% to 10.5% this year,
      and Java increased from 3rd-most popular last year (21%) to 2nd most popular this year, with 26% usage.
      JavaScript is now the third most-popular server side language, at 22%.

      <br>
      {{! template-lint-disable }}
      <span style="font-size: smaller">Note: The "None" response was added in 2018.</span>
    </p>

    <Highcharts
      @chartOptions={{this.editorTool.options}}
      @data={{this.editorTool.data}}
      @theme={{this.theme}}
    />
    <p class="text-md">
      VS Code has really taken over, vaulting from 4th place last year (19%) to 38% and first place this year, dethroning last year's editor champion, Atom (now in second place at 28%).
    </p>
  </div>
</div>

<div>
  <div class="container">
    <div class="mb-3">
      <a href="#browser-requirements" id="browser-requirements" class="text-lg">
        Browser Requirements
      </a>
    </div>
    <Highcharts
      @chartOptions={{this.browserRequirements.options}}
      @data={{this.browserRequirements.data}}
      @theme={{this.theme}}
    />
    <p class="text-md">
      Developers need to support browsers before IE11 less than ever before.
      As Ember 3.0 only supports IE11 and up, most developers now have
      a browser support requirement un-related to specific browser versions.
      Next year we're going to look for a new way to ask this question that
      captures Chrome-only sites, the UCBrowser, and other data points we
      feel are missing.
    </p>
  </div>
</div>

<div class="bg-light-muted">
  <div class="container">
    <div class="mb-3">
      <a href="#demographics" id="demographics" class="text-lg">
        Demographics
      </a>
    </div>
    <Highcharts
      @chartOptions={{this.demographicsRegion.options}}
      @data={{this.demographicsRegion.data}}
      @theme={{this.theme}}
    />

    <p class="text-md">
      Each year we capture demographic information in addition to details
      about how the community interacts with the Ember project. The summary of locations
      participants call home remains mostly unchanged this year.
    </p>

    <p class="text-md">
      The percentage of women participants this year was 4%, roughly the same as
      last year.
      Improving the diversity of our community is important to many of us.
      Programs in the community like <a href="http://emberwomen.com/">Women Helping Women</a>
      make a difference.
    </p>
  </div>
</div>

<div>
  <div class="container">
    <div class="mb-3">
      <a href="#closing-thoughts" id="closing-thoughts" class="text-lg mono">
        Closing Thoughts
      </a>
    </div>

    <p class="text-md">
      We would like to thank everyone who took the time to participate in the 2018 Ember Community Survey! We hope this information can provide a platform for discussion and ideas around the entire Ember ecosystem as it moves forward.
    </p>

    <p class="text-md">
      You can view a <a href="https://embersurvey.typeform.com/report/tKfRLF/bty0Y6WzPoKB2Whw">summary of the responses to all questions</a>
      from the survey, and you can view the <a href="/ember-community-survey-2018/ember-community-survey-2018-results-shuffled.csv">raw survey data</a>.
      You can also view the <a href="/ember-community-survey-2018/ember-community-survey-2018-demographics-shuffled.csv">demographic data</a>, which has been decoupled from the primary corpora.
    </p>

    <p class="text-md">
      This is the fourth year of the Ember Community Survey. To see results for previous years, you can visit the
      <a href="https://www.emberjs.com/ember-community-survey-2017/">2017</a>, <a href="https://www.emberjs.com/ember-community-survey-2016/">2016</a>
      and <a href="https://www.201-created.com/ember-community-survey-2015/">2015</a> survey results pages.
    </p>

    <p class="text-md">
      Questions? Feedback? Please email <a href="mailto:survey@201-created.com">survey@201-created.com</a>
    </p>
  </div>
  <div class="text-center mb-3">
    <p>Brought to you by</p>
    <a href="http://www.201-created.com/">
      <img src="/images/survey/201-Created-Square@1x.png" alt="201 Created">
    </a>
  </div>
</div>