{{page-title (concat "Ember.js" (t "index.subtitle")) replace=true}}

<section aria-labelledby="hero-title" class="bg-shape-boxes-bottom bg-dark">
  <div class="container layout">
    <div class="lg:col-5">
      <h1 class="text-hero-xl" id="hero-title">{{t "index.hero.title" htmlSafe=true}}</h1>
      <p class="text-hero-base mb-2">{{t "index.hero.sub"}}</p>
      <a href="https://guides.emberjs.com/release/tutorial/" class="es-button" title={{t "index.hero.ctaTitle"}}>
        {{t "index.hero.cta"}}
      </a>
    </div>
  </div>
</section>

<section aria-labelledby="section-intro" class="bg-light">
  <div class="container layout">
    <div class="lg:col-4 lg:start-2 text-center mb-3">
      <h2 class="text-xl" id="section-intro">{{t "index.intro.title"}}</h2>
      <p>{{t "index.intro.sub1"}}</p>
      <p><strong>{{t "index.intro.sub2"}}</strong></p>
    </div>
    <div class="text-center">
      <img class="max-width" src="/images/home/landing-logos.svg" alt="" role="presentation">
    </div>
  </div>
</section>

<CtaEmberconf />

<section aria-labelledby="section-batteries-included" class="bg-light-muted">
  <div class="container layout">
    <div class="lg:col-4 lg:start-2 text-center">
      <h2 class="text-xl" id="section-batteries-included">{{t "index.batteries.title"}}</h2>
      <p class="mt-4">{{t "index.batteries.sub"}}</p>
    </div>
    <div class="layout">
      <div class="lg:col-4 lg:start-3">
        <img class="img-fluid" alt="" src="/images/home/ember-build.svg" role="presentation" width="636" height="424">
      </div>
      <div class="lg:col-2">
        <h3 class="text-lg">{{t "index.batteries.build.title"}}</h3>
        <p>{{t "index.batteries.build.sub" htmlSafe=true}}</p>
      </div>
    </div>
    <div class="layout mt-4">
      <div class="lg:col-4">
        <img class="img-fluid" src="/images/home/ember-routing.svg" alt="" role="presentation" width="636" height="424">
      </div>
      <div class="lg:col-2">
        <h3 class="text-lg">{{t "index.routing.title"}}</h3>
        <p>{{t "index.routing.sub" htmlSafe=true}}</p>
      </div>
    </div>
    <div class="layout mt-4">
      <div class="lg:col-4 lg:start-3">
        <img class="img-fluid" src="/images/home/ember-data.svg" alt="" role="presentation" width="636" height="424">
      </div>
      <div class="lg:col-2">
        <h3 class="text-lg">{{t "index.data-layer.title"}}</h3>
        <p>{{t "index.data-layer.sub" htmlSafe=true}}</p>
      </div>
    </div>
    <div class="layout mt-4">
      <div class="lg:col-4">
        <img src="/images/home/ember-testing.svg" alt="" role="presentation" width="636" height="424">
      </div>
      <div class="lg:col-2">
        <h3 class="text-lg">{{t "index.testing.title"}}</h3>
        <p>{{t "index.testing.sub" htmlSafe=true}}</p>
      </div>
    </div>
    <div class="layout mt-4">
      <div class="lg:col-4 lg:start-3">
        <img class="img-fluid" src="/images/home/ember-performance.svg" alt="" role="presentation" width="636" height="424">
      </div>
      <div class="lg:col-2">
        <h3 class="text-lg">{{t "index.performance.title"}}</h3>
        <p>{{t "index.performance.sub" htmlSafe=true}}</p>
      </div>
    </div>
    <div class="layout mt-4">
      <div class="lg:col-4">
        <img src="/images/home/ember-upgrades.svg" alt="" role="presentation" width="636" height="424">
      </div>
      <div class="lg:col-2">
        <h3 class="text-lg">{{t "index.upgrades.title"}}</h3>
        <p>{{t "index.upgrades.sub" htmlSafe=true}}</p>
      </div>
    </div>
  </div>
</section>

<section aria-labelledby="section-ecosystem" class="bg-dark bg-shape-swipe-bottom">
  <div class="container layout">
    <div class="lg:col-3 lg:start-4 text-center ecosystem-icons-container">
      <Index::GridDots @color="#444444" />
      <Index::EmberEcosystem />
    </div>

    <div class="lg:col-3">
      <h2 class="text-xl" id="section-ecosystem">{{t "index.ecosystem.title"}}</h2>
      <p>{{t "index.ecosystem.sub"}}</p>
      <h3 class="text-lg">{{t "index.ecosystem.js.title"}}</h3>
      <p>{{t "index.ecosystem.js.sub"}}</p>
    </div>

    <div class="lg:col-3 text-center">
      <Index::EmberAddons />
    </div>

    <div class="lg:col-3">
      <h3 class="text-lg">{{t "index.ecosystem.addons.title"}}</h3>
      {{t "index.ecosystem.addons.sub" htmlSafe=true}}
    </div>

    <div class="lg:col-3 lg:start-4 text-center">
      <WindowSvg>
        <image xmlns="http://www.w3.org/2000/svg" x="140" y="150" width="200" height="200" xlink:href="/images/home/ember-observer.svg"/>
      </WindowSvg>
    </div>

    <div class="lg:col-3">
      <h3 class="text-lg">{{t "index.ecosystem.ember-observer.title"}}</h3>
      {{t "index.ecosystem.ember-observer.sub" htmlSafe=true}}
    </div>
  </div>
</section>

<section aria-labelledby="section-community" class="bg-muted bg-shape-swipe-top">
  <div class="container">
    <div class="layout text-light text-center">
      <div class="lg:col-4 lg:start-2">
        <h2 class="text-xl" id="section-community">{{t "index.community.title"}}</h2>
        <p>{{t "index.community.sub"}}</p>
      </div>
    </div>
  </div>

  <Index::EmberCommunityPhotos />
</section>

<section>
  <div class="layout container">
    <div class="lg:col-4 lg:start-2 text-center">
      <a href="https://emberconf.com" class="es-button mb-1">
        {{t "index.community.emberconf"}}
      </a>
      <LinkTo @route="community.meetups" class="es-button-secondary ml-1">
        {{t "index.community.meetups"}}
      </LinkTo>
    </div>

    <div class="lg:col-4 lg:start-2 my-3 text-center">
      <h3 class="text-lg">{{t "index.communication.title"}}</h3>
    </div>

    <ul class="grid lg:grid-2 list-unstyled">
      <EsLinkCard
        class="lg:col-3"
        @icon="discourse"
        @title={{t "index.communication.forum.title"}}
        @href="http://discuss.emberjs.com"
      >
        <p>{{t "index.communication.forum.sub"}}</p>
      </EsLinkCard>

      <EsLinkCard
        class="lg:col-3"
        @icon="discord"
        @title={{t "index.communication.discord.title"}}
        @href="https://discord.gg/emberjs"
      >
        <p>{{t "index.communication.discord.sub"}}</p>
      </EsLinkCard>
    </ul>

    <p class="lg:col-4 lg:start-2 my-3 text-center">{{t "index.learning.sub"}}</p>

    <ul class="list-unstyled layout">
      <EsCard
        class="lg:col-2 text-center"
        @icon="podcasts"
      >
        <h4 class="text-md">{{t "index.learning.podcasts.title"}}</h4>

        <ul class="list-unstyled">
          {{t "index.learning.podcasts.list" htmlSafe=true}}
        </ul>
      </EsCard>

      <EsCard
        class="lg:col-2 text-center"
        @icon="books"
      >
        <h4 class="text-md">{{t "index.learning.reading.title"}}</h4>

        <ul class="list-unstyled">
          {{t "index.learning.reading.list" htmlSafe=true}}
        </ul>
      </EsCard>

      <EsCard
        class="lg:col-2 text-center"
        @icon="videos"
      >
        <h4 class="text-md">{{t "index.learning.videos.title"}}</h4>

        <ul class="list-unstyled">
          {{t "index.learning.videos.list" htmlSafe=true}}
        </ul>
      </EsCard>
    </ul>

    <p class="lg:col-4 lg:start-2 my-3 text-center">{{t "index.work.sub"}}</p>

    <ul class="layout list-unstyled">
      <EsLinkCard
        class="lg:col-4 lg:start-2"
        @icon="emberwork"
        @title={{t "index.work.emberwork.title"}}
        @href="https://emberwork.com/"
      >
        <p>{{t "index.work.emberwork.sub"}}</p>
      </EsLinkCard>
    </ul>
  </div>
</section>

<section aria-labelledby="section-shipping" class="bg-dark bg-shape-boxes">
  <div class="container">
    <div class="layout mb-3">
      <div class="lg:col-3">
        <h2 class="text-xl" id="section-shipping">{{t "index.shipping.title"}}</h2>
        <p>{{t "index.shipping.sub"}}</p>

        <p class="mt-4">
          <a href="https://guides.emberjs.com/release/getting-started/quick-start/" class="es-button mb-1 mr-1">
            {{t "index.shipping.quickstart"}}
          </a>
          <a href="https://github.com/emberjs" class="es-button-secondary">
            {{t "index.shipping.github"}}
          </a>
        </p>
      </div>
    </div>

    <ul class="grid lg:grid-2 mt-4 list-unstyled">
      <EsLinkCard
        @icon="guides"
        @title={{t "index.guides.title"}}
        @href="https://guides.emberjs.com/release/"
      >
        <p>{{t "index.guides.sub"}}</p>
      </EsLinkCard>

      <EsLinkCard
        @icon="blog"
        @title={{t "index.blog.title"}}
        @href="https://blog.emberjs.com"
      >
        <p>{{t "index.blog.sub"}}</p>
      </EsLinkCard>
    </ul>
  </div>
</section>
