{{title "Ember.js - A framework for ambitious web developers" replace=true}}

<div class="about-page--header">
  A framework for<br>
  <span class="bold">ambitious</span> web developers.
</div>

<div class="call-to-action">
  <div class="call-to-action__box">
    <div class="call-to-action__top">
      <h1>Try it out!</h1>
      <div class="cta-copy">
        <p>Build your first Ember application with our 5 minute tutorial.</p>
      </div>
      <a href="https://guides.emberjs.com/current/getting-started/quick-start/">View Quick Start guide</a>
    </div>
    <div class="call-to-action__bottom">
      <svg viewBox="0 0 310 20">
        <text x="0" y="15">$ npm install -g ember-cli</text>
      </svg>
      <svg viewBox="0 0 310 20">
        <text x="0" y="15">$ ember new ember-quickstart</text>
      </svg>
    </div>
  </div>
</div>

<div class="emberconf-announcement call-to-action__box">
  <div class="logo-and-date">
    <a href="//emberconf.com/" aria-label="EmberConf 2020">
      {{svg-jar "emberconf-2020-logo" class="emberconf-logo" alt="EmberConf 2020"}}
    </a>
    <div class="emberconf-date">
      <span>Save the date!</span>
      <h3>March 16–18</h3>
      <p>Portland, Oregon</p>
    </div>
  </div>
  <div class="announcement-description">
    <div class="text">
      <p>EmberConf is back for another year of talks, training and fun! Tickets go on sale <span class="sale-date">December 16.</span></p>
      <p><a href="//emberconf.com">Learn about EmberConf</a></p>
    </div>
  </div>
</div>

<section class="section">
  <h2 class="text-center">Highly Productive Out of the Box</h2>

  <div class="features">
    <div class="feature">
      <div class="handlebars feature-img"></div>
      <p>Developers write dramatically less code with integrated templates that update automatically when the underlying data changes.</p>
    </div>
    <div class="feature">
      <div class="structure feature-img"></div>
      <p>No need to waste time on trivial choices. Ember's abstractions allow developers to focus on what makes your app <i>unique</i>.</p>
    </div>
    <div class="feature">
      <div class="productivity feature-img"></div>
      <p>Ember.js is built for productivity. Designed with developer ergonomics in mind, its friendly APIs help developers <i>efficiently</i> get the job done.</p>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="text-center">Who's Using Ember.js?</h2>

  <ul class="homepage users">
    {{#each model.users as |user index|}}
      <li class={{concat "user " (if (gte index 4) "desktop-only")}}>
        <a href={{user.url}} rel="nofollow">
          <img
            src={{asset-map (concat "images/home/" user.file)}}
            width="210"
            height="103"
            alt={{user.alt}}
          >
        </a>
      </li>
    {{/each}}
  </ul>

  <div class="about__listing-button-group">
    {{#link-to "ember-users" class="ember-button ember-button--centered"}}
      Meet More Users
    {{/link-to}}
  </div>
</section>

<section class="section">
  <h2 class="text-center">Buy Ember.js Gear and Support Development</h2>

  <div class="gears">
    <a href="http://devswag.com/products/ember-sticker" class="gear" aria-label="Buy Ember stickers">
      <img src="/images/home/ember-sticker.png" alt="ember stickers">
    </a>
    <a href="http://devswag.com/products/ember-js-tshirt" class="gear" aria-label="Buy Ember Tee Shirt">
      <img src="/images/home/ember-shirt.png" alt="ember tee shirt">
    </a>
    <a href="http://devswag.com/products/ember-mascot-stickers-4" class="gear" aria-label="Buy Tomster stickers">
      <img src="/images/home/ember-hamster-sticker.png" alt="tomster stickers">
    </a>
    <a href="http://devswag.com/products/ember-mascot-tomster" class="gear" aria-label="Buy Tomster plush toys">
      <img src="/images/home/ember-tomster-plush-2.png" alt="tomster plush toys">
    </a>
  </div>

  <div class="about__listing-button-group">
    <a
      class="ember-button"
      href="https://devswag.com/collections/ember"
    >
      Buy Ember Gear
    </a>
    <a
      class="ember-button"
      href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QRRZTQ5GM7PSY"
    >
      Donate
    </a>
  </div>
</section>
