{{page-title "Branding"}}
<div class="container">
  <h1>Branding</h1>

  <p>
    The Ember brand and associated assets are part of a meticulously curated experience. We take great pride in what our team and community have helped bring to life, and ask that you follow our guidelines to ensure consistency across all Ember properties.
  </p>

  <p><a href="/images/brand/Ember-Brand-Guidelines.pdf">Download brand guidelines (PDF)</a></p>

  <section aria-labelledby="logos" class="mt-4">
    <h2 id="logos">The Logos</h2>

    <p>Our logos are the main identifier of our brand, so we're careful with how we use them. They may not be manipulated in any way, and may <strong>never</strong> be incorporated into other logos.</p>

    <p>
      Ember, the Ember logo design and the Tomster designs are exclusive trademarks registered in the United States by Tilde Inc. The ® symbol must be present in these brand marks. If you use the logos, please add standard language explicitly indicating unofficial status. For example, "This page/product/etc is unaffiliated with the Ember project. Ember is a trademark of Tilde Inc."
    </p>

    <p><a href="/images/brand/logos-ember.zip">Download logos (ZIP)</a></p>


    {{#each this.logosByCategory as |logoCategory|}}
      <div class="mt-4" aria-labelledby={{dasherize-string logoCategory.name}} id={{dasherize-string logoCategory.name}}>
        <h3 class="mb-3">{{logoCategory.name}}</h3>
        <ul class="unstyled-list">
            {{#each logoCategory.logoSets as |logoSet|}}
              <li>
                <ul class="brand-logos grid lg:grid-4 sm:grid-2 mb-3 unstyled-list">
                  {{#each logoSet as |logo|}}
                    <li class="brand-logo-container {{if logo.variants "grid lg:grid-3 sm:grid-3"}}">
                      {{#if logo.variants}}
                        {{#each logo.variants as |logo|}}
                            <img alt={{logo}} src="/images/brand/{{dasherize-string logo}}.svg" loading="lazy">
                        {{/each}}
                      {{else}}
                        <img alt={{logo}} src="/images/brand/{{dasherize-string logo}}.svg" loading="lazy">
                      {{/if}}
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
        </ul>
        {{#if logoCategory.description}}
          {{markdown-to-html logoCategory.description tagName=""}}
        {{/if}}
      </div>
    {{/each}}
  </section>

  <section aria-labelledby="ember-mascots" class="mt-4">
    <h2 id="ember-mascots">The Ember Mascots</h2>
    <p>With the exception of the Tomster logo lockup, our mascots are reserved for official Ember project use <em>only</em>.</p>
    <p>
      We sometimes grant licenses for specific use cases, and certain community initiatives may, with approval, commission the design of custom Tomsters and Zoeys via official channels. For more info on commissioned mascots, <LinkTo @route="mascots.faq">visit the Tomster FAQ page</LinkTo>.
    </p>
  </section>


  <section aria-labelledby="project-naming" class="mt-4">
    <h2 id="project-naming">Naming</h2>

    <p>Please avoid naming your projects and events anything that implies Ember or Tilde's endorsement. Keep this in mind when selecting domain names as well.</p>

    <p>
      It is all right to use Ember in the name of local meetup groups, which are well understood to be unofficial. It is also OK to use Ember in the name of other events, assuming the official Ember logo is never made part of the name or logo for the unofficial event.
    </p>

    <p>EmberConf and EmberCamp are both used for official purposes and cannot otherwise be used.</p>
  </section>
</div>
