<div class="columns flex-start">
  <div id="sidebar">
    <ol id="toc-list">
      <li class="level-1 {{if isIndexActive 'selected'}}">{{#link-to 'releases'}}Releases{{/link-to}}</li>
      <li class="level-1 {{if isChannelsActive 'selected'}}">
        <a>Channels</a>
        <ol style="display:block">
          <li class="level-3 {{if isReleaseActive 'sub-selected'}}">{{#link-to 'releases.release'}}Release{{/link-to}}</li>
          <li class="level-3 {{if isBetaActive 'sub-selected'}}">{{#link-to 'releases.beta'}}Beta{{/link-to}}</li>
          <li class="level-3 {{if isCanaryActive 'sub-selected'}}">{{#link-to 'releases.canary'}}Canary{{/link-to}}</li>
        </ol>
      </li>
    </ol>
  </div>

  <div id="subcontent" class="has-sidebar">
    {{outlet}}
  </div>
</div>
