{{page-title "Sponsors"}}
<section class="container" aria-labelledby="ember-sponsors-and-friends">
  <h1 id="ember-sponsors-and-friends">
    Ember Sponsors and Friends
  </h1>

  <p>
    Since its beginnings in 2011, Ember has been able to grow to where we are now, thanks to the support&mdash;both financial and technical&mdash;of various companies and individuals:
  </p>

  <section class="my-5" aria-labelledby="ember-sponsors-and-friends-current-sponsors">
    <h2 id="ember-sponsors-and-friends-current-sponsors">Current Sponsors</h2>

    <ul class="unstyled grid sm:grid-2 lg:grid-3">
      {{#each
        (sort-by "end:desc" "start:asc"
          (reject-by "end" @model)
        )
        as |sponsor|
      }}
        <li>
          <figure>
            <a href={{sponsor.url}} rel="nofollow noopener noreferrer" target="_blank" class="well well-16/9">
              <img src="/images/users/{{sponsor.image}}" alt="{{sponsor.name}} website" loading="lazy">
            </a>
            <figcaption class="text-muted">
              <p>
                {{sponsor.term}}
                <br>
                {{sponsor.content}}
              </p>
            </figcaption>
          </figure>
        </li>
      {{/each}}
    </ul>
  </section>

  <section class="my-5" aria-labelledby="ember-sponsors-and-friends-past-sponsors">
    <h2 id="ember-sponsors-and-friends-past-sponsors">Past Sponsors</h2>

    <ul class="unstyled grid sm:grid-2 lg:grid-3">
      {{#each
        (sort-by "end:desc" "start:asc"
          (filter-by "end" @model)
        )
        as |sponsor|
      }}
        <li>
          <figure>
            <a href={{sponsor.url}} rel="nofollow noopener noreferrer" target="_blank" class="well well-16/9">
              <img src="/images/users/{{sponsor.image}}" alt="{{sponsor.name}} website" loading="lazy">
            </a>
            <figcaption class="text-muted">
              <p>
                {{sponsor.term}}
                <br>
                {{sponsor.content}}
              </p>
            </figcaption>
          </figure>
        </li>
      {{/each}}
    </ul>
  </section>

  <section class="my-5" aria-labelledby="ember-sponsors-and-friends-individual-sponsors">
    <h2 id="ember-sponsors-and-friends-individual-sponsors">Individual Sponsors</h2>

    <p>
      If you can help fund the development of Ember, we encourage you to visit our <a href="https://opencollective.com/emberjs">Open Collective</a> and <a href="https://github.com/sponsors/emberjs">GitHub Sponsors</a> channels. You can provide your donation in either channel. All financial contributions are moved to Open Collective and centrally, publicly managed there.
    </p>

    <p>
      A special thanks goes to <a href="https://dribbble.com/mg" rel="nofollow noopener noreferrer" target="_blank">Matt Grantham</a> for designing the original Ember website.
    </p>
  </section>
</section>
