{{title "Sponsors"}}
<section class="container" aria-labelledby="ember-sponsors-and-friends">
  <h1 id="ember-sponsors-and-friends">
    Ember Sponsors and Friends
  </h1>

  <p>
    Since its beginnings in 2011, Ember has only gotten as far as we have due to the support&mdash;both financial and technical&mdash;of the following companies:
  </p>

  <section class="my-5" aria-labelledby="ember-sponsors-and-friends-current-sponsors">
    <h2 id="ember-sponsors-and-friends-current-sponsors">Current Sponsors</h2>

    <ul class="unstyled grid sm:grid-2 lg:grid-3">
      {{#each this.currentSponsors as |sponsor|}}
        <figure>
          <a href={{sponsor.url}} rel="noopener noreferrer" target="_blank" class="well well-16/9">
            <img src="/images/users/{{sponsor.image}}" alt="" role="presentation" loading="lazy">
          </a>
          <figcaption class="text-muted">
            <p>
              {{sponsor.term}}
              <br>
              {{sponsor.content}}
            </p>
          </figcaption>
        </figure>
      {{/each}}
    </ul>
  </section>

  <section class="my-5" aria-labelledby="ember-sponsors-and-friends-past-sponsors">
    <h2 id="ember-sponsors-and-friends-past-sponsors">Past Sponsors</h2>

    <ul class="unstyled grid sm:grid-2 lg:grid-3">
      {{#each this.pastSponsors as |sponsor|}}
        <figure>
          <a href={{sponsor.url}} rel="noopener noreferrer" target="_blank" class="well well-16/9">
            <img src="/images/users/{{sponsor.image}}" alt="" role="presentation" loading="lazy">
          </a>
          <figcaption class="text-muted">
            <p>
              {{sponsor.term}}
              <br>
              {{sponsor.content}}
            </p>
          </figcaption>
        </figure>
      {{/each}}
    </ul>
  </section>

  <p class="text-center my-5">
    A special thanks to <a href="https://dribbble.com/mg" rel="noopener noreferrer" target="_blank">Matt Grantham</a> for design of the original Ember website.
  </p>
</section>
